.content-agileits, .w3l-news-content, .team, .contact, .gallery, .pricing-plans, .feedback{
    padding: 2em 0;
}
h3.w3_tittle {
    font-size: 3.5em;
    color: #c7040c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-style: italic;
}
.wel-grid h4 {
    font-size: 2em;
    color: #111;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 0.5em;
}
.wel-grid p {
    padding-top: 1em;
}
/*-- effect-7 css --*/
.text-desc{
	position: absolute; 
	left: 0; 
	top: 0; 
	background: rgba(171, 5, 28, 0.63);
	height: 100%; 
	opacity: 0; 
	width: 100%; 
	padding: 20px;
}
.port-7{ 
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.9);
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px #969696;
}
.port-7 .text-desc{
	opacity: 0; 
	transition: 0.5s; 
	color: #000;
}
.port-7.effect-2 img{
	transition: 0.5s; 
	position: relative; 
	width: 100%; 
	top: 0;
}
.port-7.effect-2:hover img{
	top: 50%;
}
.port-7.effect-2 .text-desc {
    transform: perspective(600px) rotateX(90deg);
    transform-origin: top center 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 30%;
    padding: 2.5em;
}
.port-7.effect-2:hover .text-desc{
	opacity: 1; 
	transform: perspective(600px) rotateX(0deg);
	z-index: 99;
}
.text-desc h4 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 0.5em;
	letter-spacing:3px;
	font-size:1.8em;
	text-transform:uppercase;
}
.text-desc p {
    font-size: .8em;
    color: #ece7e7;
    letter-spacing: 2px;
}
.right-sign-grid {
    text-align: right;
}
.right-sign-grid img {
    width: 35%;
}
.right-sign-grid h5 {
    font-size: 2em;
    letter-spacing: 1px;
    text-shadow: #373738 0 3px 5px;
}
/*-- //About--*/ 