.trending-ads {
    padding: 5px 0px;
}
@media (max-width: 1080px){
  .trending-ads {
    padding: 10px 0px ;
  }
}
@media (max-width: 991px){
  .trending-ads {
    padding: 10px 0px;
  }
}

.login-top {
    padding: 2.3em 2em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    outline: none;
    font-size: 1em;
    color: #999;
    padding: 10px 10px 10px 30px;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom:2px solid #686464;
    -webkit-appearance:none;
    margin-bottom: 28px;
  font-family: 'Open Sans', sans-serif;
}
.login-top input[type="text"]:focus, .login-top input[type="password"]:focus{
  border-bottom: 2px dashed rgba(87, 86, 87, 0.83);
}
.login-top input.name {
    background: url(../../images/icons/l1.png) no-repeat 0% 51%;
}
.login-top input.email {
    background: url(../../images/icons/l2.png) no-repeat 0% 51%;
}
.login-top input.phone {
    background: url(../../images/icons/l4.png) no-repeat 0% 51%;
}
.login-top input.password {
    background: url(../../images/icons/l3.png) no-repeat 0% 51%;
}
.login-top input.location {
    background: url(../../images/icons/l6.png) no-repeat 0% 51%;
}
.login-top input[type="text"]:hover, ..login-top input[type="password"]:hover{
    border-bottom-color:rgba(132, 141, 215, 0.52);
}
/*--checkbox--*/
.login-top input[type="checkbox"] {
    display: none;
}
.login-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #999;
    font-weight: 400;
    cursor: pointer;
}
.login-top input[type="checkbox"]+label span:first-child {
    width: 18px;
    height: 18px;
    border: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
    top: -1px;
}
.login-top input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../../images/icons/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
.inner_tabs.loan {
    border: 1px solid #ddd;
}
.car_description {
    padding: 22px 15px;
    text-align: center;
    border: 1px solid#ddd;
}
.price,.date {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 0;
      color: #333;
}
.date {
    padding-bottom: 0;
}
.car_description .price {
    margin: 0!important;
}
.card {
    position: relative;
    float: left;
    padding-bottom: 18%;
    /*width:23.5%;*/
    text-align:center;
    margin-right:2%;
}
.login-inner2 {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #E7E7E8;
}
.card:nth-child(4) {
  margin-right:0;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 312px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #fff;
}

.card__back {
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);

}
/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
}
.img-grid img {
    width: 100%;
}
.login-top.sign-top{
  padding:0;
}
.login-top.sign-top form{
    padding: 2em 2em;
}


/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.login-top.sign-top form {
       padding: 1em 2em 3em 2em;
}
.login-inner2 h4 {
    font-size: 1.4em;
    font-weight:400;
    padding: 0.5em 0 1em 0;
    color: #333;
}
.login-bottom.two{
  margin-top: 1em;
}
.login-top.sign-top input[type="text"],.login-top.sign-top input[type="password"] {
    margin-bottom:22px;
  z-index:9999;
  font-size:0.9em;
}
.login-top.sign-top input[type="submit"] {
    font-size:1em;
    color: #fff;
    background: #EFC509;
    outline:none;
    border:none;
    cursor:pointer;
    padding:15px 10px;
    -webkit-appearance: none;
    width:100%;
  font-weight:600;
   transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
  text-transform:uppercase;
}
.login-top.sign-top input[type="submit"]:hover {
  background:#e16b5b;
}
.section_drop select#country1 {
    padding:10px 46px;
    width:100%;
    font-weight:normal;
    background:none;
    border: none;
    color: #848484;
    outline: none;
    font-size: 14px;
    border-bottom: 2px solid #686464;
    margin-bottom: 30px;
    background: url(../../images/icons/car.png) no-repeat 1% center #ffffff;
}
.car_description h4 a{
    font-weight:400;
  color: #e16b5b!important;
    text-decoration: none;
  text-transform:uppercase;
    font-size: 1.1em!important;
}
.card_front h4 a {
        text-transform:uppercase;
}
.car_description  p{
  font-size:0.9em;color:#777;
}
@media (max-width:1440px){
  .featured_section_w3l {
    padding: 3em 0 22em 0;
  }
}
@media (max-width:1280px){
  .banner-bottom {
    min-height: 530px;
  }
  .bottom-form {
    width: 40%;
    padding: 1.8em 0 0 0;
    float: right;
  }
}
@media (max-width:1024px){
  .price,.date {
      font-size:1em;
  }
  .login-top.sign-top form {
    padding: 1em 2em 1em 2em;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 16px;
    font-size: 0.9em;
  }
}
@media (max-width:991px){
  .login-inner2 h4 {
    font-size: 1.1em;
    padding: 0.5em 0 0em 0;
  }
  .car_description h4 a {
    font-size: 0.85em!important;
  }
  .price,.date {
      font-size:0.95em;
  }
  .login-top.sign-top input[type="submit"] {
    font-size: 0.9em;
    padding: 10px 10px;
  }
  .login-top.sign-top form {
    padding: 1em 1em 1em 1em;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 15px;
    font-size: 0.87em;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 14px;
    font-size: 0.9em;
  }
  .featured_section_w3l {
    padding: 3em 0 19em 0;
  }
  .tab-content>.tab-pane {
    padding-top: 10px;
  }
}
@media (max-width:667px){
  .card {
    position: relative;
    float: left;
    padding-bottom:80%;
    /*width: 60%;*/
    text-align: center;
    margin-left: 20%;
  }
  .card:nth-child(4) {
    padding-bottom: 37%;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 43px;
    font-size: 0.9em;
  }
  .car_description h4 a {
    color: #e16b5b!important;
    font-size: 0.9em!important;
  }
}
@media (max-width:640px){
  .card {
    position: relative;
    float: left;
    padding-bottom:80%;
    /*width: 60%;*/
    text-align: center;
    margin-left: 20%;
  }
  .card:nth-child(4) {
    padding-bottom: 37%;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 43px;
    font-size: 0.9em;
  }
  .car_description h4 a {
    color: #e16b5b!important;
    font-size: 0.9em!important;
  }
}
@media (max-width:600px){
  .card {
    position: relative;
    float: left;
    padding-bottom: 82%;
    /*width: 60%;*/
    text-align: center;
    margin-left: 20%;
  }
}
@media (max-width:480px){
  .card {
    position: relative;
    float: left;
    padding-bottom:100%;
    /*width: 72%;*/
    text-align: center;
    margin-left: 13%;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 26px;
    font-size: 0.9em;
  }
  .login-top {
    padding: 1em 1em;
  }
  .login-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    font-size: 0.9em;
  }
}
@media (max-width:414px){
  .card {
    position: relative;
    float: left;
    padding-bottom: 120%;
    /*width: 86%;*/
    text-align: center;
    margin-left: 6%;
  }
  .login-top.sign-top.one form {
    padding: 1em 1em 1em 1em!important;
  }
}
@media (max-width:375px){
  .card {
    position: relative;
    float: left;
    padding-bottom: 153%;
    /*width: 100%;*/
    text-align: center;
    margin-left: 0;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 19px;
    font-size: 0.9em;
  }
  .featured_section_w3l {
      padding: 1.5em 0 19em 0;
  }
}
/*************************************************************************/

.agileits_work_grid{
  padding:0;
}
.view {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.view .mask,.view .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
}
.view a.info i {
    padding:20px 30px;
    color: #fff;
    text-transform:uppercase;
    font-size:3em;
}
.view a.info: hover {
  -webkit-box-shadow:0 0 5px #000;
  -moz-box-shadow:0 0 5px #000;
  box-shadow:0 0 5px #000;
}
.view-sixth img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
  background-color: rgba(0, 0, 0, 0.5);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
  width: 100%;
  height: 100%;
  padding: 7.5em 0 0;
}
.view-sixth a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.view-sixth:hover img {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.view-sixth:hover a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  background: #000;
  padding: 0.5em 1em;
  line-height:2.5em;
}
.flex-slider{ 
  background:#222227;
  padding: 70px 0 165px 0;
}
.opportunity{
  background:#28282e;
  margin:0px 20px;
  padding:80px 0;
  position:relative;
}
#flexiselDemo1 {
  display: none;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  overflow: hidden;
  margin: 0px auto;
}
.nbs-flexisel-item {
  float: left;
  margin: 0;
  padding: 0px;
  position: relative;
  /*line-height: 0px;*/
}
.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width:60px;
  height:115px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  left:0%;
  top: 15% !important;
  display:none;
  }
.nbs-flexisel-nav-right {
  right: 0%;
  top: 15% !important;
  display:none;
  }
/*--//flexisel--*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
  .view-sixth .mask {
    padding:6.5em 0 0;
  }
  .wthree-text {
    padding: 5em 5em;
  }
  .agileits-w3layouts-grid {
    position: absolute;
    top: 12%;
    width: 60%;
    left: 20%;
    text-align: center;
  }
}
@media (max-width: 1366px){
  .wthree-text {
    padding: 4em 4em;
  }
  .wthree-text {
    padding: 3em 3em;
  }
}
@media (max-width: 1280px){
  
}
@media (max-width: 1080px){
  .navbar-nav {
    float: left;
    margin: 0 0 0 4em;
  }
  .navbar-nav > li > a {
    font-size: 14px;
    padding: 19px 15px 0;
  }
  ul.about-agile li {
    display: block;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    font-size: 0.8em;
  }
  .view-sixth .mask {
    padding: 4.5em 0 0;
  }
  .agileits-w3layouts-grid {
    position: absolute;
    top: 12%;
    width: 60%;
    left: 16%;
    text-align: center;
  }
}
@media (max-width:1050px){
  .wthree-text p {
    margin: 1em 0;
    line-height: 1.8em;
  }
  .view-sixth:hover a.info {
    letter-spacing: 1px;
    font-size: 1em;
    line-height:2.3em;
   }  

}
@media (max-width:1024px){
  .wthree-text p {
    margin: 0.5em 0;
    line-height: 1.8em;
  }
  .agileits-w3layouts-grid {
    position: absolute;
    top: 9%;
    width: 66%;
    left: 15%;
    text-align: center;
  }
  figure.effect-roxy figcaption {
    padding: 4em 2em;
    text-align: center;
  }
}
@media (max-width: 991px){
  .agileits_works-grid {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .agileits_works-grid img {
    margin: 0 auto;
  }
  .navbar-nav > li > a {
    font-size: 13px;
    padding: 19px 7px 0;
  }
  .navbar-nav {
    float: left;
    margin: 0 0 0 1em;
  }
  .overlay {
    left: 19px;
    top: 23px;
    width: 90%;
    height: 85%;
  }
  .wthree-text p {
    margin: 0.5em 0;
    line-height: 2em;
  }
}
@media (max-width: 800px){

  .view-sixth:hover a.info {
    letter-spacing: 1px;
    font-size: 0.9em;
    line-height: 2.3em;
  }
  .view-sixth .mask {
    padding: 3.5em 0 0;
  }
  .team-grid {
    text-align: center;
    padding: 0;
    float: left;
    width: 50%;
  }
  .team-img .overlay {
    padding: 3em 0.5em;
    line-height: 24px;
  }
}
@media (max-width: 768px){
    .view-sixth .mask {
    padding: 4em 0 0;
  }
  .team-img .overlay {
    padding: 2.5em 0.5em;
    line-height: 24px;
  }
  .overlay {
    left: 16px;
    top: 19px;
    width: 90%;
    height: 85%;
  }
}
@media (max-width: 640px){
  .view-sixth .mask {
    padding: 4em 0 0;
  }
  .team-img .overlay {
    padding: 1.5em 0.5em;
    line-height: 24px;
  }
  .wthree-text h4 {
    font-size: 1.6em;
  }
}
@media (max-width: 600px){
  .agileits-w3layouts-grid {
    position: absolute;
    top: 9%;
    width: 80%;
    left: 8%;
    text-align: center;
  }
  .wthree-text h4 {
    font-size: 1.5em;
  }
}
@media (max-width:568px){
  .wthree-text h4 {
    font-size: 1.4em;
  }
}
@media (max-width:480px){
  .view-sixth .mask {
    padding: 10em 0 0;
  }
  .gallery, #review {
    padding-bottom: 2em;
  }
  .team-grid {
    text-align: center;
    padding: 0;
    float: left;
    width: 100%;
  }
  .team-img .overlay {
    padding: 3.5em 0.5em;
    line-height: 24px;
  }
  .overlay {
    left: 19px;
    top: 23px;
    width: 90%;
    height: 85%;
  }
  .wthree-text {
    padding: 1.5em 1em;
  }
}
@media (max-width: 414px){
   .view-sixth .mask {
    padding:8em 0 0;
  }
  .grid figure h3 {
    font-size: 0.8em;
  }
  .grid figure p {
    letter-spacing: 2px;
    font-size: 55.5%;
  }
  .overlay {
    left: 16px;
    top: 20px;
    width: 90%;
    height: 85%;
  }
  p{
    margin: 0;
    font-size: 13px;
  }
   
  figure.effect-roxy figcaption {
    padding: 7em 2em;
    text-align: center;
  }
}
@media (max-width:384px){
  .team-img .overlay {
    padding: 2.5em 0.5em;
    line-height: 24px;
  }
}
@media (max-width:375px){
  figure.effect-roxy figcaption {
    padding: 6em 2em;
    text-align: center;
  }
   .view-sixth .mask {
    padding:7em 0 0;
  }
}
@media (max-width:320px){
  .agileits-w3layouts-grid {
    position: absolute;
    top: 5%;
    width: 80%;
    left: 8%;
    text-align: center;
  }
   .view-sixth .mask {
    padding:6em 0 0;
  }
}
/* -------------------------------------------------------------------- */

.blog {
    padding:5em 0;
}
.about-inner p {
    color: #777;
    line-height: 1.8em;
    font-size:0.9em;
}
h4.tittle  {
    color: #c7040c;
    text-decoration: none;
    font-size: 1.4em;
    margin: 1em 0 0.5em 0;
    text-transform: uppercase;
    font-weight: bold;
}
.modal-dialog.about {
    width: 757px;
    margin:3.5em auto 0;
}
.modal-content.about {
    background-color: #fff;
    border-radius: 0px!important;
}
.modal-body {
    position: relative;
    padding: 20px;
    text-align: center;
}
@media(max-width:1366px){
  #work,.blog{
    padding:4em 0;
  }
}
@media(max-width:1024px){
  #work,.blog,#services {
    padding: 3em 0;
  }
}
@media(max-width:991px){
  span.border {
      width: 29%;
  }
  span.border.two {
    width: 27%;
  }
}
@media(max-width:800px){
  span.border:after {
    height: 7px;
    width: 73px;
    top: -4px;
    left: 74px;
  }
}
@media(max-width:640px){
  span.menu {
    display: block;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0px;
  }
  span.border:after {
    height: 7px;
    width: 73px;
    top: -4px;
    left: 53px;
  }
  span.border.one:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 46px;
  }
  span.border.two:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 43px;
  }
  .about-inner img{
    width:100%;
  }
}
@media(max-width:600px){
  .modal-dialog.about {
    width: 518px;
    margin: 2em auto 0;
  }
}
@media(max-width:480px){
  #work, .blog, #services {
    padding: 2em 0;
  }
  span.border {
        width: 40%;
    background: #8C8989;
    height: 1px;
    display: block;
    margin: 11px auto 0px;
  }
  span.border.two {
    width: 39%;
  }
  .modal-dialog.about {
    width: 442px;
    margin: 2em auto 0;
  }
}
@media(max-width:414px){
  span.menu img {
    width: 91%;
    margin-top: 8px;
  }
  span.border,  span.border.one {
      width: 44%;
  }
  span.border.two {
    width: 42%;
  }
  .modal-dialog.about {
    width: 354px;
    margin: 2em auto 0;
  }
}
@media(max-width:384px){
  span.border, span.border.one {
    width: 49%;
  }
  span.border.two {
    width: 49%;
  }
}
@media(max-width:375px){
  span.menu img {
    width:85%;
    margin-top: 8px;
  }
}
@media(max-width:320px){
  span.menu img {
    width:80%;
    margin-top: 8px;
  }
  #work, .blog, #services {
    padding: 1.2em 0;
  }
  span.border, span.border.one {
    width: 61%;
  }
  span.border.two {
    width: 58%;
  }
}

/* ------------------------------------------------------------------------- */
.dapibus {
  background: #fff;
  padding: 2em 1.3em;
  box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
  border-radius: 0.3em;
  /*border: 1px solid #ddd;*/
}
.dapibus:hover{
  background: rgba(51, 51, 51, 0.14);
}
.content h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #556a7f;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.4em;
  margin:0;
}
p.adm {
  color: #868f98;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
  padding: 1em 0;
}
p.adm a {
  color: #dc8e7f;
  font-weight: 700;
  text-decoration: underline;
}
p.adm a:hover {
  color: #868f98;
}
.content p {
  color: #868f98;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
  padding: 1em 0;
}
.link {
  background: url(../images/arrow.png) no-repeat -1px 5px;
  display: inline-block;
  padding: 0 0 0 13px;
  line-height: 20px;
  font-size: 1em;
  font-style: normal;
  color: #dc8e7f;
  font-weight: 700;
}
a.link:hover{
  color: #c7040c;
}