.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c34c21;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white; }

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.blog {
  margin: 3em 0; }

.blog-left {
  float: left;
  width: 65%; }

.blog-right {
  float: right;
  width: 30%; }

.blog-left-grid-left {
  float: left;
  width: 80%;
  margin-bottom: 3em; }

.blog-left-grid-left h3 {
  font-size: 25px;
  margin: 0;
  color: #c34c21;
  text-transform: capitalize; }

.blog-left-grid-left h3 a {
  color: #c34c21; }

.blog-left-grid-left h3 a:hover {
  color: #000; }

.blog-left-grid-left p {
  color: #c34c21;
  font-size: 17px;
  margin: .5em 0; }

.blog-left-grid-left p span {
  color: #000; }

.blog-left-grid-right {
  float: right;
  width: 20%;
  margin: .8em 0 0; }

.blog-left-grid-right a {
  padding: 10px 30px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background: #c34c21; }

.blog-left-grid-right a:hover {
  color: #fff;
  text-decoration: none; }

a.non:before {
  background: #F04709; }

p.para {
  color: #999;
  font-size: 14px;
  margin: 1em 0 2em;
  line-height: 1.8em; }

.rd-mre a {
  padding: 10px 30px;
  color: #fff;
  background: url(../../images/profile/img-sp.png) no-repeat 61px -191px #c34c21;
  display: block;
  width: 130px;
  text-decoration: none;
  font-size: 14px; }

a.quod:before {
  background: url(../../images/profile/img-sp.png) no-repeat 61px -191px #F04709;
  display: block; }

.blog-left-grid:nth-child(2) {
  margin: 3em 0 0; }

@media (max-width: 1280px) {
  .blog-left-grid img {
    width: 100%; } }

@media (max-width: 1024px) {
  .blog-left-grid-left h3 {
    font-size: 23px; }
  .blog-left-grid-left p {
    font-size: 15px; }
  .blog-left-grid-right a {
    padding: 10px 17px; } }

@media (max-width: 768px) {
  .blog-left-grid-left {
    margin-bottom: 2em; }
  .blog-left-grid-right a {
    padding: 10px 27px; } }

@media (max-width: 640px) {
  .blog-left-grid-left h3 {
    font-size: 20px; }
  .blog-left-grid-left {
    width: 70%; }
  .blog-left-grid-right {
    width: 25%; } }

@media (max-width: 480px) {
  .blog-left-grid-left h3 {
    font-size: 17px; }
  .blog-left-grid-right {
    width: 29%; }
  .blog-left-grid-right a {
    padding: 10px 19px; }
  .blog-left-grid-left {
    margin-bottom: 1em; } }

@media (max-width: 320px) {
  .blog-left-grid-left, .blog-left-grid-right {
    width: 100%;
    float: none; }
  .blog-left-grid:nth-child(2) {
    margin: 2em 0 0; }
  a.sint:before {
    background: url(../../images/profile/img-sp.png) no-repeat 48px -196px #F04709; }
  .blog-left-grid-right a {
    padding: 7px 19px;
    font-size: 13px; }
  .rd-mre a {
    padding: 7px 30px;
    background: url(../../images/profile/img-sp.png) no-repeat 55px -195px #c34c21; }
  a.quod:before {
    background: url(../../images/profile/img-sp.png) no-repeat 55px -195px #F04709; }
  p.para {
    font-size: 13px; }
  p.para {
    margin: 1em 0 1em; } }
