ul, label {
  margin: 0;
  padding: 0; }

.contact {
  padding-top: 25px;
  padding-bottom: 10px; }

.contact-right iframe {
  width: 100%;
  height: 588px; }

.contact-form ul li i {
  color: #999;
  border: 1px solid #777;
  padding: .5em;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  margin-right: 1em; }

.contact-form ul li {
  margin-bottom: 5px; }

.contact-form {
  padding: 40px 50px;
  border: 1px solid #808080; }

.contact-form ul li {
  list-style-type: none;
  font-size: 14px;
  color: #333; }

.contact-form ul li a {
  color: #333;
  text-decoration: none; }
  hr{
     margin-top: 7px; 
     margin-bottom: 7px; 
  }

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c7040c;
  background: none;
  color: #000;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  resize: none; }

.contact-form input[type="submit"] {
  outline: none;
  font-size: 16px;
  color: #fff;
  background: #c7040c;
  padding: 8px 15px;
  border: none; }

.contact-form input[type="submit"]:hover {
  color: #10A7AF;
  background: #fff; }

.contact-form textarea {
  min-height: 105px; }

.contact-form ul {
  margin-bottom: 0px; }

@media (max-width: 1080px) {
  .contact-form input#uploadFile {
    width: 67%; } }

@media (max-width: 1024px) {
  .capabil-grid p {
    font-size: 17px; } }

@media (max-width: 991px) {
  .contact-left {
    float: left;
    width: 50%;
    padding-left: 0; }
  .contact-right {
    float: left;
    width: 50%;
    padding-right: 0; }
  .contact-form {
    padding: 40px 27px; }
  .contact-form input#uploadFile {
    width: 62%; }
  .thumb:hover ul li {
    margin: 33px 0px 0; } }

@media (max-width: 800px) {
  .contact-left, .contact-right {
    float: left;
    width: 100%;
    padding: 0; }
  .contact-right {
    margin-top: 50px; }
  .contact-right iframe {
    width: 100%;
    height: 292px; }
  .contact-form input#uploadFile {
    width: 82%; } }

@media (max-width: 667px) {
  .contact-form input#uploadFile {
    width: 79%; } }

@media (max-width: 600px) {
  .contact-form input#uploadFile {
    width: 77%; } }

@media (max-width: 480px) {
  .contact-form input#uploadFile {
    width: 72%; }
  .contact-right iframe {
    height: 226px; } }

@media (max-width: 414px) {
  .contact-form {
    padding: 20px 20px; }
  .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea, .contact-form input#uploadFile {
    padding: 8px 10px;
    font-size: 13px;
    margin-bottom: 16px; } }

@media (max-width: 384px) {
  .contact-right {
    margin-top: 33px; }
  .contact-right iframe {
    height: 182px; }
  .contact-form input#uploadFile {
    width: 64%; } }

@media (max-width: 320px) {
  .contact-form textarea {
    min-height: 95px; }
  .contact-form input#uploadFile {
    width: 57%; } }
