a{
	color: #768082;
}
a:hover {
    color: #c7040c;
}
.islive{
	right: 15px;
}
.contact-box{
	font-size: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #000000;
    padding: 10px 12px;
    position: fixed;
    bottom: 10px;
    /*right: -125px;*/
    z-index: 100;
    opacity: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    /*margin-right: 51px;*/
    opacity: .7;
    z-index: 102;
}
.contactformwrapper{
	position: fixed;
    right: 45px;
    bottom: 80px;
    z-index: 300;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(227,228,231,1);
    box-shadow: 0px 2px 0px 0px rgba(227,228,231,1);
    background-color: #fff;
    padding: 15px;
    height: 359px;
    width: 279px;
}