.how-details {
  position: relative; }

.how-details-2 {
  position: relative;
  display: inline-block; }
  .how-details-2 .overbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }
  .how-details-2:hover .overbox {
    opacity: 1; }
  .how-details-2 p {
    color: black;
    text-align: center; }

#home #head-open-menu {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 90%), url("../../images/for_customer/head-home-banner.png");
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 90%), url("../../images/for_customer/head-home-banner.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #home #head-open-menu .text-head {
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF; }
  #home #head-open-menu .text-head-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 20px;
    line-height: 36px;
    margin-right: -20px;
    padding: 18px 30px 16px 54px;
    border-radius: 50px;
    box-shadow: 0 1px 0;
    color: black;
    background: rgba(255, 255, 255, 0.5); }
    #home #head-open-menu .text-head-btn span {
      margin-left: -20px; }

#home #get-app {
  background-color: #FFBD2E; }
  #home #get-app #get-bg {
    color: black;
    height: 70vh; }
    #home #get-app #get-bg #img-phone-openmenu {
      padding-top: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #home #get-app #get-bg .download #download-head {
      margin: 100px 40px 0;
      font-size: 18px;
      font-weight: bold; }
    #home #get-app #get-bg .download #download-content {
      margin: 0 40px;
      font-size: 18px; }
    #home #get-app #get-bg .download #download-content-footer {
      margin: 0 24px;
      font-size: 12px; }
    #home #get-app #get-bg .download .img-store {
      margin: 0 24px;
      margin-top: 10px;
      width: 200px; }
    #home #get-app #get-bg .download .img-store-apple {
      width: 214px;
      margin-top: 10px; }

#home #how-it-work #how-content-head {
  position: relative;
  font-size: 30px;
  font-weight: bold; }

#home #how-it-work #how-content {
  position: relative;
  margin-top: 20px; }
  #home #how-it-work #how-content .how-details img {
    margin: auto;
    padding: auto; }
  #home #how-it-work #how-content .how-details p {
    text-align: center;
    font-size: 16px; }

#home .view-menu {
  background-color: #F5F5F5; }
  #home .view-menu .view-content .view-detail-head {
    margin-top: 24%;
    margin-left: 55.4%;
    font-size: 30px;
    color: #FFBD2E; }
  #home .view-menu .view-content .view-detail {
    margin-top: 20px;
    float: right;
    margin-right: 20px; }
  #home .view-menu #img-phone-openmenu-menu {
    margin-top: 40px; }

#home .payment-menu {
  height: 100%;
  background-color: #fff; }
  #home .payment-menu .payment-content .payment-detail-head {
    margin-top: 24%;
    float: left;
    font-size: 30px;
    color: #FFBD2E;
    margin-left: 3px; }
  #home .payment-menu .payment-content .payment-detail {
    margin-top: 20px;
    float: left;
    margin-left: 20px; }
  #home .payment-menu #img-phone-openmenu-menu {
    margin-top: 40px;
    float: right; }

#home .subscribe-news {
  min-height: 600px;
  width: 100%;
  background-image: -webkit-linear-gradient(top, transparent 25%, transparent 90%), url("../../images/for_customer/subscribe-news.png");
  background-image: linear-gradient(-180deg, transparent 25%, transparent 90%), url("../../images/for_customer/subscribe-news.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #home .subscribe-news .test {
    position: absolute;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    top: 35%;
    left: 8%; }
    #home .subscribe-news .test .sub-head {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 20px; }
    #home .subscribe-news .test .sub-detail {
      margin-left: 20px; }
    #home .subscribe-news .test .subscribe-btn {
      position: absolute;
      background-color: #FFBD2E; }
      #home .subscribe-news .test .subscribe-btn:hover {
        background: black; }

.down-app-btn {
  margin-top: 14px;
  padding: 10px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  .down-app-btn:hover {
    background: #A87E4F; }
  .down-app-btn.-circle {
    position: relative;
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%; }
    .down-app-btn.-circle i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 20px; }

.get-app-btn {
  margin-top: 14px;
  padding: 10px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  .get-app-btn:hover {
    background: #A87E4F; }
  .get-app-btn.-circle {
    position: relative;
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%; }
    .get-app-btn.-circle i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 20px; }

#need-help {
  text-align: center;
  color: #979797;
  padding-top: 40px; }

#input-email-download-app input {
  margin: 20px 24px;
  width: 360px;
  max-width: 100%;
  font-size: 20px; }

#input-email-sub input {
  margin: 20px 4px;
  width: 400px;
  max-width: 100%;
  font-size: 20px; }

.bx-size {
  margin-left: -60px;
  margin-top: 40px; }

.bx-size .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  margin-left: -20px;
  background-color: transparent; }

/* Medium Devices, Desktops */
