#ui-main {
  min-height: 200px; }

.button {
  text-align: center; }

.button a {
  color: #fff;
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  margin-left: 45%;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #000; }

.button a:hover {
  background: #222; }

#fwslider {
  position: relative;
  width: 100%; 
  height: 175px; }

#fwslider .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%; }

#fwslider .slide img {
  width: 100%; 
  height: 175px; }

#fwslider .slidePrev {
  position: absolute;
  top: 50%;
  left: -50px;
  z-index: 10; }

#fwslider .slidePrev span {
  /*background-image: url("../images/img-sprite.png");*/
  width: 72px;
  height: 128px;
  float: left;
  background-position: -10px -243px;
  background-repeat: no-repeat;
  cursor: pointer; }

#fwslider .slideNext {
  position: absolute;
  top: 50%;
  right: -50px;
  z-index: 10; }

#fwslider .slideNext span {
  /*background-image: url("../images/img-sprite.png");*/
  width: 72px;
  height: 128px;
  float: left;
  background-position: -105px -243px;
  background-repeat: no-repeat;
  cursor: pointer; }

#fwslider .timers {
  height: 4px;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 3; }

#fwslider .timer {
  height: 4px;
  width: 40px;
  background-color: #000;
  float: left;
  margin-right: 10px; }

#fwslider .progress {
  height: 4px;
  width: 0%;
  background-color: #c7040c;
  float: left; }

#fwslider .slide_content {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%; }

#fwslider .slide_content_wrap {
  /* Slider Text Content Container Style */
  max-width: 600px;
  margin: 12% auto; }

#fwslider .title {
  /* Slider Title Style */
  color: #FFF;
  font-size: 5em;
  padding-top: 5%;
  font-style: normal;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 5%; }

@media only screen and (max-width: 800px) {
  #fwslider .slide_content_wrap {
    display: none; }
  #fwslider .timers {
    display: none; }
  #fwslider .slide_content {
    cursor: pointer; }
  #fwslider .title {
    margin-left: 19%;
    font-size: 3em; } }

@media (max-width: 1366px) {
  #fwslider .title {
    margin-left: 8%;
    font-size: 4em; } }
.services-w3ls-row{
  margin:2.5em 0 0 0;
}
.services{  
  text-align:center;
  background-size:cover;
} 
/*-- Effect 1 --*/
.services-grid span {
    font-size: 2em;
    color: #c7040c;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    padding: 1em;
}
.services-grid span:after { 
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.effect-1 {
    background: #fff;
    /*border: 2px solid black;*/
    -webkit-transition: background 0.5s, color 0.2s;
    -moz-transition: background 0.5s, color 0.2s;
    transition: background 0.5s, color 0.2s;
}
.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 10px 3px #c7040c;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.5s, opacity 0.2s;
    transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
    opacity: 0;
}
.services-grid:hover span:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  opacity: 1;
}
/*-- //Effect1 --*/
.services-grid h5 {
    font-size: 1.3em;
    margin: 1.5em 0 0.6em 0;
    color:#c7040c;
    text-transform: uppercase;
    letter-spacing: 1px;
} 
.services-grid p { 
    color: #000; 
}
/*-- //services --*/

.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}
.vc_separator .vc_sep_dotted .vc_sep_line {
    border-top-style: dotted;
}
.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}