
/*-- header-top --*/
.header-top{
    padding:0.2em 0;
    background:#FFFFFF;
}
.header-address{
    float:right;
}
.header-address ul{
    padding:0;
    margin:0;
}
.header-address ul li{
    display:inline-block;
    margin:0;
    color:#212121;
    font-size:.9em;
}
.header-address ul li a{
    color:#c7040c;
    text-decoration:none;
    padding: 10px;
}
.header-address ul li:nth-child(2){
    margin-left:1em;
}
.header-address ul li span{
    color: #c7040c;
}
.header-address ul li .{
    color: #a0a0a0;
}
.header-address ul li {
    color: #a0a0a0;
}
/*.header-top .logo {
    width: auto;
}*/

@media(max-width:414px){
    .header-address {
        float: none;
        width: 100%;
        text-align: center;
    }
}
@media(max-width:320px){
    .header-address ul li {
        font-size: .87em;
    }
    .header-address ul li:nth-child(2) {
        margin-left: .5em;
    }
}
/*-- //header-top --*/

/*-- LOGO --*/
.logo h1 {
    margin: 0;
}
.logo{
    position: absolute;
    top: 0;
    width: 170px;
    z-index: 999;
}
.logo h1 a {
     display:block;
}
@media (max-width:1080px){
    .logo a img {
        width: 80%;
    }
}
@media (max-width:991px){
    .logo {
        width: 140p;
    }
}
@media (max-width:736px){
    .logo {
        width: 140px;
        top: 18px;
    }
}
@media (max-width:640px){
    .logo {
        width: 131px;
    }
}
@media (max-width:480px){
    .logo {
        width: 163px;
    }
}
@media (max-width:414px){
    .logo a img {
        width: 150%;
    }
    .logo {
        width: 110px;
        position: inherit;
        float: left;
    }
}
/*-- //LOGO --*/

/*-- footer --*/
.footer{
    background: #c7040c;
    /*padding: 4em 0 0 0;*/
}
.copyright{
    /*text-align: center;*/
    padding: 0.5em 0;
    border-top: ridge 1px #c7040c;
}
.copyright p{
    color: #bbbbbb;
    font-size: .9em;
    margin: 0;
}
.copyright p a{
  color: #bbbbbb;
  text-decoration:none;
}
.copyright p a:hover{
    color: #c7040c;
}
/*-- //footer --*/

/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#FFFFFF;
    background:none;
}
.navbar-default .navbar-nav > .active > a:before{
    background: #FFFFFF;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    /*letter-spacing: 1px;*/
}
.navbar-nav > li > a {
    margin: 0 0.7em;
    padding: 0 0 0.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color: rgba(0,0,0,.5);
}
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    outline:none;
}
nav.navbar.navbar-default {
    background: #c7040c;
    padding: 1em 0 0.2em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
       color: #262c38;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
    background:transparent;
    color: #fff;
}
a.navbar-brand {
    color: #091f38!important;
    padding: 0;
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
}
a.navbar-brand i{
    color:#FFFFFF;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
    padding:0;
    border: none;
}
.agile_short_dropdown li a{
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:13px;
    font-weight:600;
    padding: .8em 0;
    border-bottom: 1px solid #c7040c;
    background-color:#c7040c;
}
.agile_short_dropdown > li > a:hover{
    color: rgba(0,0,0,.5);
    text-decoration: none;
}
.effect-3 {
    overflow: hidden;
}
.effect-3:before {
    left: -1px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:#FFFFFF;
    content: '';
    position: absolute;
    transition: transform .5s ease;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
}
.effect-3:hover:before {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}

@media (max-width: 1280px){
    .agileinfo_services_grids {
        margin: 2em 0 4em;
    }
    .navbar-nav > li > a {
        margin: 0 0.5em;
        padding: 0 0 0.5em;
    }
}
@media (max-width: 1024px){
    .navbar-nav > li > a {
        padding: 5px 14px;
        font-size:12px;
    }
    .navbar-nav > li > a {
       margin: 0 0.4em;
    }
    .navbar-nav > li > a {
        padding: 5px 10px;
        font-size: 12px;
    }
}
@media (max-width: 991px){
    /*nav.navbar.navbar-default{
        background: #c7040c;
        padding: 2em 0 0.2em 0;
    }
    .navbar-nav > li > a {
        padding: 3px 10px;
    }*/
    .agileinfo_services_grid {
        padding-top: 3em;
    }
    .agileinfo_services_grids {
        margin: 1em 0 0em;
    }
    .agileinfo_services_grid1 h4 {
        letter-spacing: 2px;
        font-size: 1.2em;
    }
    .agileinfo_services_grid1_pos {
        top: -22%;
    }
    .agileinfo_services_grid1 h4:after {
        right: 50%;
    }
    .w3_agileits_header1:after {
        left: 31% !important;
    }
    .agileits_portfolio_grid .w3_textbox {
        padding: 0 1em;
    }
    .w3_textbox h4 {
        font-size: 1em;
        letter-spacing: 3px;
    }
    /*.navbar-nav > li > a {
        font-size: 11px;
    }*/
}
/*@media (max-width:900px){
    ul.nav.navbar-nav {
        margin: 2em 0 1em 0;
    }
    
}
@media (max-width: 800px){
    .navbar-brand {
        font-size: .7em;
        letter-spacing: 1px;
    }
    .navbar-nav > li > a {
        padding: 3px 7px;
        font-size: 13px;
    }
    ul.nav.navbar-nav {
        margin: 2em 0 1em 0;
    }
}
@media (max-width: 768px){
    ul.nav.navbar-nav {
        margin: 0em 0 1em 0;
    }
}*/
@media (max-width: 768px){
    .navbar-brand {
        font-size: .8em;
    }
    .navbar-toggle {
        margin: 0.5em 0 0;
    }
    .navbar-default .navbar-toggle {
        border: none;
        background: #efb312;
        /*border-radius: 0;*/
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        position: absolute;
        width: 100%;
        z-index: 999;
        background:#c7040c;
        padding:0em 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: #FFF;
        color: 000;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-right {
        width: 100%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    .navbar-nav {
        margin: 0;
        text-align:center;
    }
    .navbar-nav > li > a {
        padding: 5px 25px;
        font-size: 13px;
        display: inline-block;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: #c7040c;
        padding:10px 0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    ul.nav.navbar-nav {
        margin: 0em 0 0em 0;
    }
    
    nav.navbar.navbar-default{
        background:#c7040c;
        /*padding:2em 0 0.2em 0;*/
    }
    ul.nav.navbar-nav {
        margin: 1em 0;
    }
    ul.agile_forms {
        margin-bottom: 1em;
    }
    .agileits_w3layouts_event_grid1 h5 a {
        font-size: 1.2em;
        letter-spacing: 2px;
    }
}
@media (max-width: 900px){
    a.navbar-brand {
      font-size: 0.8em;
    }
    .navbar-toggle {
        margin: 0em 0 0;
    }
    .test-grid1 {
        padding: 0;
    }
    .test-grid2 {
        padding: 0;
    }
}
@media (max-width: 568px){
    nav.navbar.navbar-default {
        background: #c7040c;
        /*padding: 0.5em 0 0em 0;*/
    }
}
@media (max-width: 480px){
    .agileinfo_services_grid1 h4:after {
        right: 35%;
    }
    .agileinfo_services_grid1_pos {
        top: -15%;
    }
    .agileinfo_services_grid {
        padding-top: 2.5em;
    }
}
@media (max-width: 440px){
    .agileinfo_services_grid1 h4:after {
        right: 10%;
        width: 45%;
    }
    .agileinfo_services_grid1 h4 {
        letter-spacing: 1px;
    }
}
@media (max-width: 414px){
    .agileits_w3layouts_service_grid {
        float: none;
        width: 60%;
            margin: 0 auto 1.5em;
    }
    .agileits_w3layouts_service_grid:nth-child(2){
        margin:2em auto;
    }
    .agileits_w3layouts_service_grid p {
        line-height: 2em;
    }
    .agileits_w3layouts_service_grid h4 {
        letter-spacing: 5px;
    }
    .w3_agileits_header:after {
        left: 62% !important;
    }
    .agileinfo_services_grid1 h4:after {
        right: 10%;
        width: 45%;
    }
    .agileinfo_services_grid1 h4 {
        letter-spacing: 1px;
    }
}
@media (max-width: 384px){
    .agileinfo_services_grid {
        padding: 2.5em 0 0;
    }
    a.navbar-brand {
        font-size: 0.78em;
    }
}
@media (max-width: 375px){
    a.navbar-brand {
        font-size: 0.75em;
    }
}
@media (max-width: 320px){
    .navbar-brand {
        font-size: .65em;
    }
    .agileits_w3layouts_service_grid {
        width: 85%;
    }
    .agileinfo_services_grid1 {
        padding: 2em 1em 1.5em;
    }
    .agileinfo_services_grid1 h4 {
        font-size: 1.1em;
    }
    a.navbar-brand {
        font-size: 0.72em;
    }
}
/*-- //banner --*/