#about, #mail, #gallery {
  padding: 4em 0; }

.w3ls-agile-left-info {
  padding: 1em 0;
  border-bottom: 1px dashed #44c7f4; }

.w3ls-agile-left-info h4, .social-info h4 {
  font-size: 1.6em;
  margin: 0;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 2px; }

.w3ls-agile-left-info p {
  color: #827e7e;
  font-size: 1em; }

.agile-about-right-img img {
  width: 60%; }

h3.w3l_head {
  text-align: center;
  color: #111;
  font-size: 3.5em;
  letter-spacing: 2px; }

h3.w3l_head.three {
  color: #44c7f4; }

p.w3ls_head_para {
  color: #44c7f4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px; }

.w3l-grids-about {
  margin-top: 3em; }

.w3ls-agile-left-info a {
  color: #44c7f4; }

@media (max-width: 991px) {
  .agile-about-right-img img {
    width: 30%;
    margin-bottom: 1em; } }

@media (max-width: 600px) {
  .w3ls-agile-left-info p {
    font-size: 0.9em; } }

@media (max-width: 568px) {
  .agile-about-right-img img {
    width: 50%;
    margin-bottom: 1em; }
  .w3l-grids-about {
    margin-top: 2em; } }
