table tr td {
  width: 200px; }
  table tr td img {
    display: block;
    margin: 0 auto;
    width: 60%; }
  table tr td .compatibility-software img {
    display: block;
    margin: 0 auto;
    width: 60%; }
  table tr td p {
    color: #827e7e;
    font-size: 17px;
    text-align: center; }
  table tr td ul, table tr td ol {
    margin-top: 0;
    margin-bottom: 10px;
    width: 125px; }

h3 {
  font-size: 25px;
  color: #333; }

h1 {
  color: #333;
  text-align: center;
  letter-spacing: 3px; }

.compatibility-software-wrap {
  display: table;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0.9375em 0; }

.compatibility-software {
  position: relative; }

.compatibility-formats-wrap {
  position: absolute;
  padding: 0em 0.625em 0.25em 0.625em;
  background: #363636;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
  margin-left: 50%;
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: translate(-50%, 15%);
  transform: translate(-50%, 15%); }

.compatibility-software:hover .compatibility-formats-wrap {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.compatibility-formats-wrap:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 6px 8px;
  border-color: transparent transparent #363636 transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px; }

.compatibility-format {
  display: inline;
  font-size: 0.75em;
  color: #fff;
  margin-left: 0.375em; }

.compatibility-formats-wrap .compatibility-format:first-child {
  margin-left: 0; }

@media (max-width: 1280px) {
  table tr td {
    width: 150px; }
    table tr td img {
      display: block;
      margin: 0 auto;
      width: 50%; }
    table tr td .compatibility-software img {
      display: block;
      margin: 0 auto;
      width: 50%; }
    table tr td p {
      font-size: 17px; }
  h3 {
    font-size: 25px; } }

@media (max-width: 1024px) {
  table tr td {
    width: 150px; }
    table tr td img {
      display: block;
      margin: 0 auto;
      width: 50%; }
    table tr td .compatibility-software img {
      display: block;
      margin: 0 auto;
      width: 50%; }
    table tr td p {
      font-size: 15px; }
  h3 {
    font-size: 23px; } }

@media (max-width: 768px) {
  table tr td img {
    width: 70%; }
  table tr td .compatibility-software img {
    width: 70%; }
  table tr td p {
    font-size: 10px; }
  h3 {
    font-size: 20px; } }

@media (max-width: 640px) {
  table tr td img {
    width: 70%; }
  table tr td .compatibility-software img {
    width: 70%; }
  table tr td p {
    font-size: 10px; }
  h3 {
    font-size: 20px; } }

@media (max-width: 480px) {
  table tr td img {
    width: 70%; }
  table tr td .compatibility-software img {
    width: 70%; }
  table tr td p {
    font-size: 0.65em;
    margin: 0 auto; }
  h3 {
    font-size: 1em; } }
