.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c34c21;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white; }

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.single-page-artical {
  padding: 0 3.5em 3.5em 3.5em;
  background: #fff; }

/*-- single --*/
.artical-links {
  padding: 10px 0px;
  border: 1px dashed rgba(0, 0, 0, 0.61);
  border-left: none;
  margin-top: 5px;
  border-right: none; }

.artical-links ul li {
  display: inline-block; }

.artical-links ul li:last-child {
  float: right; }

.artical-links ul li a span {
  vertical-align: top; }

.artical-links ul li small {
  background: url(../../images/profile/img-sprite.png) no-repeat -18px -90px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle; }

.artical-links ul li small.admin {
  background-position: -48px -90px; }

.artical-links ul li small.no {
  background-position: -74px -90px; }

.artical-links ul li small.posts {
  background-position: -101px -90px; }

.artical-links ul li small.link {
  background-position: -125px -90px; }

.artical-links ul li a {
  color: #666;
  padding-left: 20px; }

.artical-links ul li a:hover {
  text-decoration: underline; }

.artical-content h3 {
  color: #C34C21;
  text-align: left;
  text-transform: capitalize;
  padding: 3em 0 1.5em;
  font-size: 2em;
  margin: 0; }

.artical-content p {
  color: #999;
  font-size: 14px;
  line-height: 1.8em;
  margin: 1em 0; }

/*---comment-box----*/
.table-form {
  width: 100%; }

.table-form form input[type="text"] {
  border: none;
  outline: none;
  padding: 1em;
  margin-top: 23px;
  color: #666;
  overflow: hidden;
  width: 40%;
  display: block;
  font-size: 1em;
  background-color: #f4f4f4; }

.table-form textarea {
  padding: 1em;
  margin-top: 25px;
  outline: none;
  color: #666;
  border: none;
  width: 60%;
  height: 135px;
  resize: none;
  font-size: 1em;
  background-color: #f4f4f4; }

.table-form input[type="submit"] {
  background: #C34C21;
  color: #fff;
  font-size: 1.2em;
  display: block;
  outline: none;
  border: none;
  padding: 0.5em 15.1em;
  margin: 0.8em 0 0; }

.table-form input[type="submit"]:hover {
  background: #F04709;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all; }

.comment-grid-top h3, .artical-commentbox h3 {
  color: #C34C21;
  text-transform: capitalize;
  padding-top: 1em;
  margin: 0;
  font-size: 1.5em; }

.top-comment-left {
  float: left;
  width: 13%; }

.top-comment-right {
  float: left;
  width: 84%;
  margin-left: 1em; }

.top-comment-right ul {
  padding: 0;
  margin: 0; }

.top-comment-right ul li {
  display: inline-block;
  color: #333;
  padding: 0.3em;
  font-weight: 700; }

.top-comment-right ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #C34C21;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all; }

.top-comment-right ul li a:hover {
  color: #000; }

.top-comment-right p {
  color: #666;
  font-size: 14px;
  margin: 0;
  line-height: 1.8em; }

.top-comment-right ul li span.left-at {
  font-size: 1.2em; }

.top-comment-right ul li span.right-at {
  font-size: 1em; }

.comments-top-top {
  margin: 1.5em 0;
  background: #eee;
  padding: 2em;
  width: 70%; }

.blog-top p {
  font-size: 1em;
  color: #fff;
  line-height: 1.8em;
  text-align: left;
  margin: 1em 0; }

.artical-content img {
  width: 100%; }

.artical-links ul li span {
  font-size: 14px;
  margin-top: 4px;
  display: inline-block; }

.single-page-artical {
  min-height: 2280px; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

/*-- //single --*/
@media (max-width: 1024px) {
  .top-comment-right {
    float: right;
    width: 82%;
    margin-left: 0; }
  .table-form textarea {
    width: 74%; }
  .table-form form input[type="text"] {
    width: 50%; }
  .single-page-artical {
    min-height: 2210px; }
  .contact-right p.phn {
    font-size: 2em; }
  p.phn-bottom {
    font-size: 1.46em; }
  .contact-right1 p {
    width: 100%; }
  .contact-right1 h4 {
    font-size: 1.4em;
    margin: 1em 0; }
  .in-left input[type="text"], .in-right textarea {
    padding: 10px 10px; }
  .in-right textarea {
    min-height: 231px; } }

@media (max-width: 768px) {
  .artical-content h3 {
    padding: 2em 0 1.5em;
    font-size: 1.8em; }
  .comments-top-top {
    width: 100%; }
  .top-comment-right ul li a {
    font-size: 0.8em; }
  .table-form input[type="submit"] {
    padding: 0.5em 13em; }
  .table-form textarea {
    width: 86%; }
  .table-form form input[type="text"] {
    width: 70%; }
  .single-page-artical {
    min-height: 2125px; } }

@media (max-width: 640px) {
  .artical-content h3 {
    padding: 2em 0 1em;
    font-size: 1.5em; }
  .artical-links ul li a {
    padding-left: 10px; }
  .top-comment-left img {
    width: 100%; }
  .table-form input[type="submit"] {
    padding: 0.5em 11em; }
  .single-page-artical {
    min-height: 2100px; }
  .table-form textarea, .table-form form input[type="text"] {
    font-size: 14px; } }

@media (max-width: 480px) {
  .table-form input[type="submit"] {
    padding: 0.5em 9.1em; }
  .table-form textarea {
    width: 100%; }
  .table-form form input[type="text"] {
    width: 90%; }
  .table-form form input[type="text"], .table-form textarea {
    margin-top: 15px; }
  .top-comment-right ul li span.right-at {
    font-size: 0.8em; }
  .top-comment-right ul li a {
    font-size: 0.7em; }
  .comments-top-top {
    padding: 1em; }
  .top-comment-left {
    width: 17%; }
  .top-comment-right {
    width: 78%; } }

@media (max-width: 320px) {
  .pgs ul li a, .artical-content p, .artical-links ul li span, .top-comment-right p, .about-info-right p,
  .caption p {
    font-size: 13px; }
  .pgs ul li {
    padding: 0 0 7px 24px;
    margin: 6px 0; }
  .artical-content h3 {
    font-size: 1.1em; }
  .artical-links ul li:last-child {
    float: none; }
  .comment-grid-top h3, .artical-commentbox h3 {
    font-size: 1.2em; }
  .comments-top-top {
    padding: 1em .5em; }
  .top-comment-left {
    width: 28%; }
  .top-comment-right {
    width: 66%; }
  .top-comment-right ul li {
    padding: 0 0.3em; }
  .table-form form input[type="text"], .table-form textarea {
    padding: 10px 10px;
    width: 100%;
    font-size: 13px; }
  .table-form input[type="submit"] {
    padding: 0.5em 4em;
    font-size: 13px; } }
