.banner {
  background: #333;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #FFF;
  text-align: center; }

input[type="button"], input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all; }

h1 {
  font-size: 45px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 7px;
  margin: 50px auto; }

.containeragileits {
  width: 30%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  background: none;
  padding: 30px; }

h2 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase; }

input[type="text"], input[type="password"], input[type="email"] {
  width: 84%;
  padding: 16px 10px 15px 60px;
  font-size: 14px;
  background: transparent;
  border: none;
  border: 1px solid #ffffff;
  outline: none;
  margin-bottom: 26px;
  color: #fff;
  border-radius: 25px; }

input[type="text"] {
  background: url("../../images/signin/user.png") no-repeat 20px 12px;
  background-size: 24px; }

input[type="email"] {
  background: url("../../images/signin/e-mail.png") no-repeat 20px 12px;
  background-size: 24px; }

input[type="password"] {
  background: url("../../images/signin/password.png") no-repeat 20px 12px;
  background-size: 24px; }

ul.agileinfotickwthree {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
  padding-left: 10px; }

ul.agileinfotickwthree li input[type="checkbox"] {
  display: none; }

ul.agileinfotickwthree li input[type="checkbox"] + label {
  position: relative;
  padding-left: 50px;
  border: #F0F8FF;
  display: inline-block;
  font-size: 15px;
  color: #fff;
  letter-spacing: 2px; }

ul.agileinfotickwthree a {
  float: right;
  margin-right: 40px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px; }

ul.agileinfotickwthree a:hover {
  color: #f54950; }

ul.agileinfotickwthree li input[type="checkbox"] + label span:first-child {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid #fff;
  position: absolute;
  top: -1px;
  left: 20px;
  bottom: 4px; }

ul.agileinfotickwthree li input[type="checkbox"]:checked + label span:first-child:before {
  content: "";
  background: url("../../images/signin/tick.png") no-repeat;
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 10px;
  width: 10px;
  height: 10px; }

input[type="submit"] {
  font-size: 16px;
  padding: 16px 65px;
  width: 97%;
  color: #FFF;
  border: none;
  border-radius: 0px;
  outline: none;
  float: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: #009999;
  background-size: 24px; }

input[type="submit"]:hover {
  background-color: #fff;
  color: #f54950;
  background-color: #ce8c8f;
  color: #fff; }

.aitssendbuttonw3ls p {
  text-align: center;
  margin-top: 40px;
  text-transform: capitalize;
  letter-spacing: 1px; }

.aitssendbuttonw3ls p a {
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
  border: 1px solid #fff; }

.aitssendbuttonw3ls p a span {
  font-size: 18px; }

.aitssendbuttonw3ls p a:hover {
  color: #537b35;
  border: 1px solid #537b35; }

::-webkit-input-placeholder {
  color: #FFF; }

::-moz-placeholder {
  color: #FFF; }

::-moz-placeholder {
  color: #FFF; }

::-ms-input-placeholder {
  color: #FFF; }

/*-- Index-Page-Styling --*/
/* pop-up-box-styling */
.contact-form1 {
  padding: 60px 40px;
  background: #537b35; }

#small-dialog, #small-dialog1, #small-dialog2 {
  max-width: 555px; }

label.checkbox {
  display: block;
  margin: 5px 0px 0px 23px;
  text-align: left; }

label {
  color: #000;
  font-size: 15px; }

input[type="checkbox"] {
  margin: 3px 13px 3px 4px; }

.submit-w3l {
  margin-top: 30px; }

.contact-w3-agileits h3 {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 4px; }

.form-sub-w3ls input[type="text"], .form-sub-w3ls input[type="password"], .form-sub-w3ls input[type="email"] {
  border: 2px solid #fff; }

.submit-w3l input[type="submit"] {
  background: #fff;
  color: #537b35; }

.submit-w3l input[type="submit"]:hover {
  background: #fff;
  color: #000; }

/* pop-up-box-styling */
.agileinfo-dot {
  background: url("../../images/signin/dott.png") repeat 0px 0px;
  background-size: 2px;
  -webkit-background-size: 2px;
  -moz-background-size: 2px;
  -o-background-size: 2px;
  -ms-background-size: 2px;
  padding: 1em 0 6em; }

/*--- Responsive Code ---*/
@media screen and (max-width: 1920px) {
  input[type="submit"] {
    background-color: #009999;
    background-size: 24px; }
  .agileinfo-dot {
    padding: 1em 0 32em; } }

@media screen and (max-width: 1680px) {
  input[type="submit"] {
    background-color: #009999;
    background-size: 24px; }
  .agileinfo-dot {
    padding: 1em 0 23em; } }

@media screen and (max-width: 1600px) {
  input[type="submit"] {
    background-color: #009999;
    background-size: 24px; }
  .agileinfo-dot {
    padding: 1em 0 16em; } }

@media screen and (max-width: 1440px) {
  .containeragileits {
    width: 33%; } }

@media screen and (max-width: 1366px) {
  .containeragileits {
    width: 35%; }
  .agileinfo-dot {
    padding: 1em 0 4em; } }

@media screen and (max-width: 1280px) {
  .containeragileits {
    width: 37%; }
  .agileinfo-dot {
    padding: 1em 0 5.5em; } }

@media screen and (max-width: 1080px) {
  .containeragileits {
    width: 45%; } }

@media screen and (max-width: 1024px) {
  .containeragileits {
    width: 47%; }
  h1 {
    font-size: 45px;
    margin: 45px auto; }
  .agileinfo-dot {
    padding: 1em 0 10em; } }

@media screen and (max-width: 991px) {
  .containeragileits {
    width: 48%; } }

@media screen and (max-width: 900px) {
  .containeragileits {
    width: 53%; } }

@media screen and (max-width: 853px) {
  .containeragileits {
    width: 58%; } }

@media screen and (max-width: 800px) {
  .containeragileits {
    width: 59%; } }

@media screen and (max-width: 768px) {
  .containeragileits {
    width: 61%; }
  .agileinfo-dot {
    padding: 1em 0 17.4em; }
  input[type="submit"] {
    background-color: #009999;
    background-size: 24px; } }

@media screen and (max-width: 736px) {
  h1 {
    font-size: 38px;
    margin: 30px auto 10px; }
  .containeragileits {
    width: 65%; }
  h2 {
    font-size: 35px; }
  .aitssendbuttonw3ls p {
    font-size: 14px; }
  .agileinfo-dot {
    padding: 1em 0 3em; } }

@media screen and (max-width: 667px) {
  .containeragileits {
    width: 65%; }
  .containeragileits input[type="text"], .containeragileits input[type="password"], .containeragileits input[type="email"] {
    width: 82%; }
  input[type="submit"] {
    background-color: #009999;
    background-size: 24px; } }

@media screen and (max-width: 640px) {
  h1 {
    margin: 35px auto; }
  .containeragileits {
    width: 74%; } }

@media screen and (max-width: 603px) {
  .containeragileits {
    width: 78%; } }

@media screen and (max-width: 600px) {
  .containeragileits {
    width: 65%; }
  .containeragileits input[type="text"], .containeragileits input[type="password"], .containeragileits input[type="email"] {
    width: 80%; }
  input[type="submit"] {
    background-color: #009999;
    background-size: 24px; } }

@media screen and (max-width: 568px) {
  h1 {
    font-size: 33px;
    margin: 20px auto; }
  h2 {
    font-size: 30px; }
  ul.tick {
    margin-bottom: 20px; }
  ul.tick li input[type="checkbox"] + label {
    font-size: 15px; }
  ul.tick li input[type="checkbox"] + label span:first-child {
    width: 15px;
    height: 15px;
    top: 0;
    border: 1px solid #EEE; }
  input[type="submit"] {
    font-size: 15px;
    padding: 15px 40px;
    background-color: #009999;
    background-size: 24px; }
  .contact-form1 {
    padding: 60px 33px; }
  ul.agileinfotickwthree a {
    margin-right: 0px; } }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 35px;
    margin: 25px auto;
    letter-spacing: 4px; }
  .containeragileits {
    width: 70%; }
  .aitssendbuttonw3ls {
    text-align: center; }
  ul.agileinfotickwthree {
    padding-left: 0; }
  .aitssendbuttonw3ls p {
    float: left; }
  ul.agileinfotickwthree a {
    margin-right: 5px; }
  ul.agileinfotickwthree li input[type="checkbox"] + label span:first-child {
    left: 5px; }
  ul.agileinfotickwthree li input[type="checkbox"] + label {
    padding-left: 35px; }
  input[type="text"] {
    background: url("../../images/signin/user.png") no-repeat 15px 11px;
    background-size: 25px; }
  input[type="submit"] {
    font-size: 15px;
    padding: 15px 40px;
    background-color: #009999;
    background-size: 24px; }
  .containeragileits input[type="text"], .containeragileits input[type="password"], .containeragileits input[type="email"] {
    width: 80%; } }

@media screen and (max-width: 414px) {
  .containeragileits {
    width: 70%; }
  h1 {
    font-size: 30px;
    letter-spacing: 3px; }
  input[type="email"] {
    background: url("../../images/signin/e-mail.png") no-repeat 255px 11px;
    background-size: 23px; }
  input[type="password"] {
    background: url("../../images/signin/password.png") no-repeat 255px 11px;
    background-size: 23px; }
  .aitssendbuttonw3ls p {
    font-size: 13px; }
  .aitssendbuttonw3ls p a {
    font-weight: 500;
    padding: 6px 5px; }
  input[type="text"] {
    background: url("../../images/signin/user.png") no-repeat 225px 11px;
    background-size: 25px; }
  .contact-w3-agileits h3 {
    font-size: 32px;
    margin-bottom: 37px;
    letter-spacing: 4px; }
  .contact-form1 {
    padding: 60px 33px; }
  h2 {
    font-size: 28px; }
  .containeragileits {
    width: 84%; }
  input[type="text"] {
    background: url("../../images/signin/user.png") no-repeat 15px 11px;
    background-size: 24px;
    padding: 15px 53px;
    width: 70%; }
  input[type="email"] {
    background: url("../../images/signin/e-mail.png") no-repeat 15px 11px;
    background-size: 24px;
    padding: 15px 53px;
    width: 70%; }
  input[type="password"] {
    background: url("../../images/signin/password.png") no-repeat 15px 11px;
    background-size: 24px;
    padding: 15px 53px;
    width: 70%; }
  .containeragileits input[type="text"], .containeragileits input[type="password"], .containeragileits input[type="email"] {
    padding: 15px 53px;
    width: 80%; }
  input[type="submit"] {
    font-size: 15px;
    padding: 15px 40px;
    background-color: #009999;
    background-size: 24px; }
  .agileinfo-dot {
    padding: 1em 0 6em; } }

@media screen and (max-width: 384px) {
  h1 {
    letter-spacing: 0; }
  .containeragileits {
    width: 78%; }
  input[type="text"], input[type="password"], input[type="email"] {
    font-size: 13px; }
  .contact-form1 {
    padding: 50px 18px; }
  h2 {
    font-size: 26px; }
  input[type="submit"] {
    font-size: 15px;
    padding: 15px 40px;
    background-color: #009999;
    background-size: 24px; }
  h1 {
    margin: 22px auto; }
  .agileinfo-dot {
    padding: 1em 0; } }

@media screen and (max-width: 375px) {
  .containeragileits {
    width: 90%;
    padding: 30px 10px; }
  .contact-form1 {
    padding: 60px 14px; }
  h2 {
    font-size: 26px; }
  .agileinfo-dot {
    padding: 1em 0 2.3em; }
  input[type="submit"] {
    font-size: 15px;
    padding: 15px 40px;
    background-color: #009999;
    background-size: 24px; } }

@media screen and (max-width: 320px) {
  h1 {
    font-size: 26px;
    font-weight: 500; }
  h2 {
    font-size: 25px; }
  .containeragileits {
    width: 86%; }
  .containeragileits {
    padding: 0px 15px; }
  ul.agileinfotickwthree li input[type="checkbox"] + label span:first-child {
    width: 13px;
    height: 13px;
    top: 0px;
    left: 56px; }
  ul.agileinfotickwthree li input[type="checkbox"] + label {
    padding-left: 85px; }
  ul.agileinfotickwthree a {
    margin-right: 72px;
    margin-top: 9px; }
  ul.agileinfotickwthree {
    margin-bottom: 15px; }
  .aitssendbuttonw3ls p {
    float: none;
    text-align: center;
    font-size: 14px;
    margin-top: 20px; }
  .aitssendbuttonw3ls p a, .aitssendbuttonw3ls p a:hover {
    margin-left: 13px;
    border: none; }
  input[type="text"] {
    background: url("../../images/signin/user.png") no-repeat 15px 11px;
    background-size: 25px; }
  .contact-form1 {
    padding: 45px 3px; }
  .contact-w3-agileits h3 {
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 3px; }
  .containeragileits input[type="text"], .containeragileits input[type="password"], .containeragileits input[type="email"] {
    padding: 15px 50px;
    width: 80%; }
  input[type="submit"] {
    font-size: 15px;
    padding: 13px 40px;
    background-color: #009999;
    background-size: 24px; }
  .agileinfo-dot {
    padding: 1em 0; }
  input[type="text"], input[type="password"], input[type="email"] {
    margin-bottom: 21px; } }
