/*--flexisel--*/
.trending-ads {
    padding: 70px 0px;
}
.flex-slider{ 
  background:#242a2c;
  padding:100px 0;
}

#flexiselDemo1 {
  display: none;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  /*overflow: hidden;*/
  margin: 0px auto;
}
.nbs-flexisel-item {
  float: left;
  margin: 0;
  padding: 0px;
  cursor: pointer;
  position: relative;
  /*line-height: 0px;*/
}
.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
}

/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width:20px;
  height:40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  left: -45px;
  top: 38% !important;
  background: url(../../images/icons/themes1.png) no-repeat 1px 3px;
}
.nbs-flexisel-nav-right {
  right: -45px;
  top: 38% !important;
  background: url(../../images/icons/themes1.png) no-repeat -23px 3px;
}
ul#flexiselDemo3.nbs-flexisel-nav-left, ul#flexiselDemo3.nbs-flexisel-nav-right {
  width:26px;
  height:44px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  display:none;
}
.agile-trend-ads {
    width: 90%;
    margin: 0 auto;
}
.agile-trend-ads h2 {
    color: #c7040c;
    font-size: 40px;
    margin-bottom: 45px;
    text-align: center;
}
.agile-trend-ads h2:before, .agile-trend-ads h2:after {
    width: 170px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}
@media (max-width: 1024px){

}
@media (max-width: 1080px){
  .col-md-3.biseller-column{
    padding: 0 10px;
  }
  .trending-ads {
    padding: 50px 0px 70px 0px;
  }
}
@media (max-width: 991px){
  .col-md-3.biseller-column{
    width:33.333%;
    float:left;
  }
  .col-md-3.biseller-column:nth-child(4){
    display:none;
  }
  .trending-ads {
    padding: 40px 0 60px 0px;
  }
}
@media (max-width: 640px){
  .col-md-3.biseller-column {
    padding: 0 8px;
  }
}
@media (max-width: 480px){
  .col-md-3.biseller-column {
    width:50%;
  }
  .col-md-3.biseller-column:nth-child(3){
    display:none;
  }
}


.login-top {
    padding: 2.3em 2em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    outline: none;
    font-size: 1em;
    color: #999;
    padding: 10px 10px 10px 30px;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom:2px solid #686464;
    -webkit-appearance:none;
    margin-bottom: 28px;
  font-family: 'Open Sans', sans-serif;
}
.login-top input[type="text"]:focus, .login-top input[type="password"]:focus{
  border-bottom: 2px dashed rgba(87, 86, 87, 0.83);
}
.login-top input.name {
    background: url(../../images/icons/l1.png) no-repeat 0% 51%;
}
.login-top input.email {
    background: url(../../images/icons/l2.png) no-repeat 0% 51%;
}
.login-top input.phone {
    background: url(../../images/icons/l4.png) no-repeat 0% 51%;
}
.login-top input.password {
    background: url(../../images/icons/l3.png) no-repeat 0% 51%;
}
.login-top input[type="text"]:hover, ..login-top input[type="password"]:hover{
    border-bottom-color:rgba(132, 141, 215, 0.52);
}
/*--checkbox--*/
.login-top input[type="checkbox"] {
    display: none;
}
.login-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #999;
    font-weight: 400;
    cursor: pointer;
}
.login-top input[type="checkbox"]+label span:first-child {
    width: 18px;
    height: 18px;
    border: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
    top: -1px;
}
.login-top input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../../images/icons/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.car_description {
    padding: 22px 15px;
    text-align: center;
    border: 1px solid#ddd;
}
.price,.date {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 0;
      color: #333;
}
.date {
    padding-bottom: 0;
}
.car_description .price {
    margin: 0!important;
}
.card {
    position: relative;
    float: left;
    padding-bottom: 18%;
    width:100%;
    text-align:center;
    margin-right:2%;
}
.login-inner2 {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #E7E7E8;
}
/*.card:nth-child(3) {
  margin-right:0;
}*/

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 312px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #fff;
}

.card__back {
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);

}
/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
}
.img-grid img {
    width: 100%;
}
.login-top.sign-top{
	padding:0;
}
.login-top.sign-top form{
    padding: 2em 2em;
}


/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.login-top.sign-top form {
       padding: 1em 2em 3em 2em;
}
.login-inner2 h4 {
    font-size: 1.4em;
    font-weight:400;
    padding: 1.87em 0 1em 0;
    color: #333;
}
.login-bottom.two{
	margin-top: 1em;
}
.login-top.sign-top input[type="text"],.login-top.sign-top input[type="password"] {
    margin-bottom:22px;
	z-index:9999;
	font-size:0.9em;
}
.login-top.sign-top input[type="submit"] {
    font-size:1em;
    color: #fff;
    background: #EFC509;
    outline:none;
    border:none;
    cursor:pointer;
    padding:15px 10px;
    -webkit-appearance: none;
    width:100%;
	font-weight:600;
	 transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
	text-transform:uppercase;
}
.login-top.sign-top input[type="submit"]:hover {
	background:#e16b5b;
}
.section_drop select#country1 {
    padding:10px 46px;
    width:100%;
    font-weight:normal;
    background:none;
    border: none;
    color: #848484;
    outline: none;
    font-size: 14px;
    border-bottom: 2px solid #686464;
    margin-bottom: 30px;
    background: url(../images/car.png) no-repeat 1% center #ffffff;
}
.car_description h4 a{
    font-weight:400;
	color: #e16b5b!important;
    text-decoration: none;
	text-transform:uppercase;
    font-size: 1.1em!important;
}
.card_front h4 a {
        text-transform:uppercase;
}
.car_description  p{
	font-size:0.9em;color:#777;
}
/*-- //tabs --*/
.banner-bottom {
    background: url(../images/bottom.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height:650px;
}
.bottom-form {
    width:40%;
    padding:7em 0 0 0;
    float:right;
}
.bottom-form ul {
    margin-top: 78px;
}
.inner-text form {
    background: #fff;
    padding: 50px 45px;
}
.inner-text form h5 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}
.inner-text h3 {
    font-size: 22px;
    margin-bottom: 21px;
    color: #E16B5B;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.inner-text form input[type="text"]{
    border: 1px solid #c7c5c5;
    outline: none;
    padding: 10px 10px 10px 35px;
    width: 100%;
    color: #848484;
    font-size: 14px;
    margin-bottom: 18px;
}
.inner-text input.name {
    background: url(../images/l1.png) no-repeat 3% 51%;
}
.inner-text input.email {
    background: url(../images/l2.png) no-repeat 3% 51%;
}
.inner-text input[type="submit"] {
    outline: none;
    border: none;
    width: 100%;
	background: #E16B5B;
    color: #fff;	
    font-size: 18px;
    padding: 12px 0px;
    text-transform: uppercase;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.inner-text input[type="submit"]:hover {
	background:#EFC509;
}
.section_drop2 select#country6 {
    padding: 10px 35px;
    width: 100%;
    font-weight: normal;
    background: none;
    color: #848484;
    outline: none;
    font-size: 14px;
    border: 1px solid #c7c5c5;
    margin-bottom: 30px;
    background: url(../images/car.png) no-repeat 2% center #ffffff;
}
/*-- /updates-agile  --*/
@media (max-width:1024px){
  .price,.date {
      font-size:1em;
  }
  .login-top.sign-top form {
    padding: 1em 2em 1em 2em;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 16px;
    font-size: 0.9em;
  }
}
@media (max-width:991px){
  .login-inner2 h4 {
    font-size: 1.1em;
    padding: 1.55em 0 0em 0;
  }
  .car_description h4 a {
    font-size: 0.85em!important;
  }
  .price,.date {
      font-size:0.95em;
  }
  .login-top.sign-top input[type="submit"] {
    font-size: 0.9em;
    padding: 10px 10px;
  }
  .login-top.sign-top form {
    padding: 1em 1em 1em 1em;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 15px;
    font-size: 0.87em;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 14px;
    font-size: 0.9em;
  }
}
@media (max-width:667px){
  .card {
    position: relative;
    float: left;
    padding-bottom:80%;
    /*width: 60%;*/
    text-align: center;
    margin-left: 20%;
  }
  .card:nth-child(3) {
    padding-bottom: 37%;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 43px;
    font-size: 0.9em;
  }
  .car_description h4 a {
    color: #e16b5b!important;
    font-size: 0.9em!important;
  }
}
@media (max-width:640px){
  .card {
    position: relative;
    float: left;
    padding-bottom:80%;
    /*width: 60%;*/
    text-align: center;
    margin-left: 20%;
  }
  .card:nth-child(3) {
    padding-bottom: 37%;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 43px;
    font-size: 0.9em;
  }
  .car_description h4 a {
    color: #e16b5b!important;
    font-size: 0.9em!important;
  }
}
@media (max-width:600px){
  .card {
    position: relative;
    float: left;
    padding-bottom: 82%;
    /*width: 60%;*/
    text-align: center;
    margin-left: 20%;
  }
}
@media (max-width:480px){
  .card {
    position: relative;
    float: left;
    padding-bottom:100%;
    /*width: 72%;*/
    text-align: center;
    margin-left: 13%;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 26px;
    font-size: 0.9em;
  }
  .login-top {
    padding: 1em 1em;
  }
  .login-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    font-size: 0.9em;
  }
}
@media (max-width:414px){
  .card {
    position: relative;
    float: left;
    padding-bottom: 120%;
    /*width: 86%;*/
    text-align: center;
    margin-left: 6%;
  }
  .login-top.sign-top.one form {
    padding: 1em 1em 1em 1em!important;
  }
}
@media (max-width:375px){
  .card {
    position: relative;
    float: left;
    padding-bottom: 153%;
    /*width: 100%;*/
    text-align: center;
    margin-left: 0;
  }
  .login-top.sign-top input[type="text"], .login-top.sign-top input[type="password"] {
    margin-bottom: 19px;
    font-size: 0.9em;
  }
}