/*--most-popular ads --*/
.w3ls-portfolio-left{
    background: #1d292f;
    padding:0;
	border-right: 1px solid #3c4f58;
    border-bottom: 1px solid #3c4f58;
}
.courses_portfolio .portfolio-item {
    overflow: hidden;
    background: #f7f7f7;
}
.portfolio-img {
    width:48%;
    float: left;
}
.portfolio-description {
    width: 50%;
    float: left;
    padding: 40px 15px 0;
}
.portfolio-description h4 a {
    color: #ff4c4c;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    transition: all 0.3s linear 0s;
    margin-bottom: 10px;
    display: block;
	line-height: 30px;
}
.portfolio-description p {
    color: #b1b6b9;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0;
}
.portfolio-description span {
    padding-top: 20px;
    display: block;
}
.portfolio-description > a span {
    background: #0099e5;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    margin: 2em 0 0;
    text-align: center;
    width: 55%;;
}
.portfolio-description > a span:hover{
	background:#ff4c4c;
    color:#fff;
}
a:hover, a:focus {
   text-decoration:none;
}
.w3l-popular-ads{
	padding:40px 0;
}
.w3l-popular-ads h3{
	color: #0099e5;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.w3l-popular-ads h3:before, .w3l-popular-ads h3:after {
    width: 170px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}

/*--//most-popular ads --*/

/*--flexisel--*/
.trending-ads {
    padding: 70px 0px;
}
.flex-slider{	
	background:#242a2c;
	padding:100px 0;
}

#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:20px;
	height:40px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: -45px;
	top: 38% !important;
	background: url(../../images/icons/themes1.png) no-repeat 1px 3px;
}
.nbs-flexisel-nav-right {
	right: -45px;
	top: 38% !important;
	background: url(../../images/icons/themes1.png) no-repeat -23px 3px;
}
ul#flexiselDemo3.nbs-flexisel-nav-left, ul#flexiselDemo3.nbs-flexisel-nav-right {
	width:26px;
	height:44px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	display:none;
}
.biseller-column img {
    width: 100%;
	position:relative;
	border:1px solid #F9F9F9;
	box-shadow: 0 0 10px #F9F9F9;
	-webkit-box-shadow: 0 0 10px #F9F9F9;
	-moz-box-shadow: 0 0 10px #F9F9F9;
	box-shadow: 0 0 10px #F9F9F9;
}
.biseller-column a {
    display: block;
	padding-top: 5px;
}
.agile-trend-ads {
    width: 90%;
    margin: 0 auto;
}
.agile-trend-ads h2 {
    color: #c7040c;
    font-size: 40px;
    margin-bottom: 45px;
    text-align: center;
}
.agile-trend-ads h2:before, .agile-trend-ads h2:after {
    width: 170px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}
.w3-ad-info h5 {
    text-align: left;
    font-size: 17px;
    color: #000;
    margin: 5px 5px 10px;
    line-height: 20px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.biseller-column:hover div.w3-ad-info h5 {
	color:#0099e5;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.w3-ad-info span {
    display: block;
    text-align: left;
    line-height: 16px;
    color: #CECDCD;
	margin-left:5px;
}
span.price {
    background-color: #c7040c;
    color: #FFF;
    display: block;
    font-size: 16px;
    padding: 7px 15px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 5px;
    z-index: 2;
    line-height: 1;
	letter-spacing: 3px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.biseller-column:hover span.price{
	background:rgb(79, 184, 237);
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
span.price:after {
    position: absolute;
    right: 0;
    top: 50%;
    content: " ";
    margin-top: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 0;
    border-color: #c7040c transparent transparent transparent;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.biseller-column:hover span.price:after {
    border-color: rgb(79, 184, 237) transparent transparent transparent;	
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--//flexisel--*/

@media (max-width: 1024px){
	.slider {
		min-height: 352px;
		padding-top: 150px;
	}
	.w3ls-slide-text h3 {
		font-size: 30px;
		margin-bottom: 40px;
	}
}
@media (max-width: 1080px){
	.col-md-3.biseller-column{
		padding: 0 10px;
	}
	.agile-trend-ads h2 {
		font-size: 38px;
	}
	.slider {
		min-height: 372px;
		padding-top: 160px;
	}
	.trending-ads {
		padding: 50px 0px 70px 0px;
	}
	span.price {
		top: 2px;
	}
}
@media (max-width: 991px){
	.w3l-popular-ads h3, .w3layouts-partners h3 {
		margin-bottom: 45px;
	}
	.col-md-3.biseller-column{
		width:33.333%;
		float:left;
	}
	.col-md-3.biseller-column:nth-child(4){
		display:none;
	}
	.agile-trend-ads h2 {
		font-size: 35px;
		margin-bottom: 40px;
	}
	.trending-ads {
		padding: 40px 0 60px 0px;
	}
}
@media (max-width: 640px){
	span.price {
		font-size: 14px;
		padding: 7px 12px;
		position: absolute;
		letter-spacing: 1px;
	}
	.col-md-3.biseller-column {
		padding: 0 8px;
	}
	.slider {
		min-height: 220px;
		padding-top: 88px;
	}
}
@media (max-width: 480px){
	.col-md-3.biseller-column {
		width:50%;
	}
	.col-md-3.biseller-column:nth-child(3){
		display:none;
	}
}