/*-- banner --*/
/*-- banner-text --*/ 
.header-w3layouts{
	position: absolute;
	top: 0;
	z-index: 99;
	text-align: center;
	left: 0;
	width: 100%;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#fff;
}
.agileits_w3layouts_more a:before,.agileits_w3layouts_more a:after{
	content: '';
	background: #fff;
	width: 85%;
	height: 2px;
	position: absolute;
	left: 105%;
	top: 46%;
}
.agileits_w3layouts_more a:after{
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.agileits_w3layouts_more a:hover::before, .agileits_w3layouts_more a:hover::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.agileits_w3layouts_more a::after {
	background:#ebcd1e;
}
/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
	background: url(../../images/banner/banner1.jpg) no-repeat 0px 0px;
	background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:212px;
	width: 100%;
}
.w3layouts-banner-top1{
	background: url(../../images/banner/banner2.jpg) no-repeat 0px 0px;
	background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:212px;
	width: 100%;
}
.w3layouts-banner-top2{
	background: url(../../images/banner/banner3.jpg) no-repeat 0px 0px;
	background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:212px;
	width: 100%;
}
.w3layouts-banner-top3{
	background: url(../../images/banner/banner4.jpg) no-repeat 0px 0px;
	background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:212px;
	width: 100%;
}
/*-- //banner-top --*/ 
/*--slider--*/
#slider2,
#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	width: 100%;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top:55%;
	left: 40px;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background: url(../../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
	left: auto;
	background: url(../../images/right.png) no-repeat 0px 0px;
	right: -62px;
}
.callbacks_nav.prev {
	left: auto;
	background: url(../../images/left.png) no-repeat 0px 0px;
	left: -58px;
}
#slider3-pager a {
	display: inline-block;
}
#slider3-pager span{
	float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
	background: #FFF;
	border-radius:30em;
	opacity:1;
}
#slider3-pager a {
	padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display:none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li{
	position: relative;
	display:block;
	float: left;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 15%;
	right: 4%;
	padding: 0;
	margin: 0;
	display: block;
	z-index: 99;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li {
	display: block;
	margin: 5px 0px;
}
/*----*/
.callbacks_tabs a{
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height:12px;
	width:12px;
	display: inline-block;
	background: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after{
	background: #c7040c;
}
/*-- //slider --*/
.w3_agile_logo h1 a{
	font-size: 1em;
	color: #212121;
	text-decoration: none;
	text-transform: uppercase;
}
.w3_agile_logo h1 a span {
	padding: 0em .5em;
	border: 2px solid #ebcd1e;
	display: inline-block;
	color: #ebcd1e;
}
.agileits-banner-info h3 {
	color: #fff;
	font-size: 3em;
	/*width:75%;*/
	line-height: 60px;
	margin: 0em 0 0.2em 0;
	letter-spacing:8px;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
}
.agileits-banner-info h3 span{
	background:#ebcd1e;
	padding: 0 15px;
	color:#000;
}
.agileits-banner-info {
	text-align: left;
	/*padding:23em 5em 0 5em;*/
	/*width: 80%;*/

}
.book-from{
    padding-top: 3em;
    /*position: absolute;*/
    /*bottom: -3.3em;*/
    /*left: 5em;*/
    background: rgba(0, 0, 0, 0.24);
    /*display: inline-block;*/
}
.agileits-banner-info p {
	color: #fff;
	font-size: 1.2em;
	letter-spacing:5px;
	font-weight: 600;
	text-align: left;
	margin: 2em auto;
}
.agileits-banner-info a {
	color: #fff;
	text-decoration: none;
	padding: 6px 20px;
	letter-spacing: 1px;
	font-size: 14px;
	margin: 1em 1em 0 0em;
	background: rgba(255, 255, 255, 0.17);
	display: inline-block;
	border: 2px solid transparent;
	font-weight: bold;
}
.agileits-banner-info a:hover {
	border: 2px solid #fff;
	color: #ebcd1e;
	background: rgba(255, 255, 255, 0.28);
}
.agileits-banner-info a i{
	color: #ebcd1e;
	padding-left:10px;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
}
.header-w3ls {
	background: rgba(63, 81, 181, 0);
	padding: 2em 2em;
	position: absolute;
	width: 100%;
	z-index: 999;
}
button#trigger-overlay {
	background: transparent;
	border: none;
	outline: none;
	float: left;
	margin-top: 2.5px;
}
button#trigger-overlay i {
	color: #fff;
	font-size: 30px;
	padding: 11px;
	background: #0c2149;
}
/*-- //banner-text --*/
.agileits_w3layouts_call_mail ul li{
	color:#212121;
	font-weight:600;
	display:inline-block;
}
.agileits_w3layouts_call_mail ul li:first-child{
	margin-right:3em;
}
.agileits_w3layouts_call_mail ul li i{
	padding-right:1em;
}
.agileits_w3layouts_call_mail ul li a{
	color:#212121;
	text-decoration:none;
}
.agileits_w3layouts_call_mail ul li a{
	color:#212121;
}
.agileits_w3layouts_call_mail ul li a:hover{
	color:#ebcd1e;
}
.agileits_social_list li a{
	color: #212121;
	text-align: center;
	display: inline-block;
	font-size: 1.2em;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
.w3_agileits_banner_social_icons_pos{
	position:absolute;
	bottom:25%;
	right:15.3%;
}
.w3_agileits_banner_social_icons_pos ul li{
	display:block;
	margin-top: 2em;
	position:relative;
}
.w3_agileits_banner_social_icons_pos ul li:nth-child(1):before,.w3_agileits_banner_social_icons_pos ul li:last-child:after{
	content: '';
	background: #212121;
	height: 55px;
	width: 2px;
	position: absolute;
	bottom: 190%;
	right: 45%;
}
.w3_agileits_banner_social_icons_pos ul li:nth-child(1):before{
	bottom: 190%;
}
.w3_agileits_banner_social_icons_pos ul li:last-child:after{
	top: 190%;
}
/*-- banner --*/
/*@media (max-width: 1080px){
	.banner-bottom {
		padding: 2.5em 0;
	}
}*/
@media (max-width: 1080px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 300px;
	}
}
@media (max-width: 800px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 400px;
	}
}
/*@media (max-width: 400px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 400px;
	}
}*/