

/*-- /header --*/
/*-- menu --*/
#home {
    position: relative;
}
.header-w3l {
    position: absolute;
    z-index: 999;
    width: 60%;
    top: 10%;
    left: 25%;
    background: rgba(0, 0, 0, 0.37);
    padding: 1em 0;
}
.header-w3l.inner {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 8%;
    left: 0;
    background: rgba(0, 0, 0, 0.37);
    padding: 1em 0;
}
.m_nav_ham{
    box-sizing: border-box;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#m_nav_container {
    width: 100%;
    height: 82px;
    background-color: #ebcd1e;
    position: fixed;
    display: none;
    top: 35px;
    left: 0;
    text-align: center;
}
.wthree_bg{
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wthree_bg.container_open{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
#m_nav_bar {
    width: 80%;
    margin: auto;
}
#m_nav_list {
    list-style: none;
    margin:1.5em 0 0;
}
.m_nav_item {
    display: inline-block;
    margin: 0 1em;
}
.m_nav_item a {
    text-decoration: none;
    color: #252003 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 30px;
}
.container_open {
    position: fixed !important;
    display: block;
    height: 120px;
}
#m_nav_menu {
    position: fixed;
    top: 44px;
    z-index: 3;
    cursor: pointer;
    right: 54px;
}
.m_nav_ham {
    width: 20px;
    height: 2px;
    background: #ebcd1e;
    margin: 5px auto;
}
.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}
.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top:-7px;
}
.m_nav_ham_3_open {
    opacity: 0;
}
.button_open {
    background: #fff;
}
.w3_agileits_ham {
    margin-top:1.5em;
}
.w3_agileits_ham.m_nav_ham_1_open {
    margin-top:32px !important;
}
.menu__list li a i{
    padding-right:1em;
}
.link--kumya:hover i, .menu__list .active a i {
    color: #0e0e0e;
}
.link {
    outline: none;
    position: relative;
    display: inline-block;
}

h1 {
    float: left;
}
.agileinfo_social_icons, .w3_agileits_header_text, .agileits_w3layouts_logo {
    display: inline-block;
    float: left;
    padding-left: 4em;
}
.w3_agileits_header_text h3 {
    color: #fff;
    line-height: 3.5;
    font-size: 1em;
    letter-spacing: 2px;
}
.agileits_social_list li{
    display:inline-block;
}
.agileits_social_list li a {
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    padding-right: 2em;
}
.agileits_social_list li a i{
    line-height:3;
}
.agileits_social_list li a i{
    color:#fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
a.w3_agile_facebook i:hover{
    color:#3b5998;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
a.agile_twitter i:hover{
    color:#1da1f2;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
a.w3_agile_dribble i:hover{
    color:#ea4c89;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
a.w3_agile_vimeo i:hover{
    color:#1ab7ea;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.agileits_w3layouts_logo h1 a {
    font-size: 1em;
    display: block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 7px;
}
#boot{
    background: #c7040c;
    color: #fff;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    width: 100%
    border : none;
    letter-spacing: 2px;
}
#boot:hover {
    background: #374850;
    color: #fff;

}
/*-- //header --*/
@media (max-width: 400px){
    .header-w3l {
        width: 80%;
        top: 5%;
        left: 5%;
        padding: 1em 0;
    }
    .agileinfo_social_icons, .w3_agileits_header_text, .agileits_w3layouts_logo{
        padding-left: 0;
    }
}