.slotholder{
	position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.tp-bgimg{
	background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(https://www.chattharealestate.com/wp-content/uploads/2017/01/Chic-by-Chattha-406-66-e1495359892126.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}