
/*---------------------------- Scroll----------------------------*/
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/*--------------------------- Search -----------------------------*/
.w3_banner_bottom_pos{
	position: relative;
    bottom:0%;
    right: 0%;
    bottom: 0;
    padding: 1em;
    background: #c7040c;
    width: 100%;
    /*height: 365px;*/
    /*overflow-y: scroll;*/
}
.w3_banner_bottom_pos h2{
	font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: 5px;
}
.w3_banner_bottom_pos h4{
    /*font-size: .8em;*/
    color: #ffffff;
    /*text-transform: uppercase;*/
    margin-bottom: 1em;
    letter-spacing: 2px;
}
/*.w3_banner_bottom_pos select {
    color: #212121;
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-weight: 600;
}*/
/*select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
input.text_box {
    border: 1px solid #ccc;
    padding: 8px 10px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    font-size: 14px;
    color: #212121;
    font-weight: 600;
}*/
.w3_agileits_section_room {
    border: 1px solid #ccc;
    float: left;
    width: 48%;
}
.bath{
    float: left;
    width: 48%;	
}
.bath:nth-child(5),.w3_agileits_section_room:nth-child(2) {
    margin-left: 1em;
}
.agileits_w3layouts_book_section_single,.wthree_range_slider{
    margin: 1.2em 0;
}
input#amount {
    font-family: inherit;
    color: #212121;
    font-size: 1em;
    margin-top: 1.5em;
    outline: none;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}
input#room {
    font-family: inherit;
    color: #212121;
    font-size: 1em;
    margin-top: 1.5em;
    outline: none;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}
.w3_banner_bottom_pos input[type="submit"]{
	width: 100%;
    outline: none;
    background: #fff;
    padding: 10px;
    color: #000;
    font-size: 1em;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
.w3_banner_bottom_pos input[type="submit"]:hover{
	background: #000;
  color: #fff;
}

@media (max-width: 1080px){
	.banner-bottom {
		padding: 2.5em 0;
	}
}
@media (max-width: 900px){
	
	.w3_agileits_section_room, .bath {
		width: 47.3%;
	}
	.w3_banner_bottom_pos h2 {
		font-size: 1em;
		margin-bottom: 1em;
		letter-spacing: 3px;
	}
	/*.w3_banner_bottom_pos select,input.text_box {
		font-size: 13px;
	}*/
	.w3_banner_bottom_pos h4 {
		/*font-size: .7em;*/
	}
	input#amount,.w3_banner_bottom_pos input[type="submit"] {
		font-size: 14px;
	}
	input#room,.w3_banner_bottom_pos input[type="submit"] {
		font-size: 14px;
	}
	.w3layouts_banner_bottom_left h3 {
		font-size: 1em;
	}
	.w3layouts_banner_bottom_left {
		width: 52%;
	}
	.banner-bottom {
		padding: 2em 0;
	}
}
@media (max-width: 767px){
	.w3_agileits_section_room, .bath {
		width: 48.8%;
	}
}
@media (max-width: 320px){
	.w3_banner_bottom_pos h2 {
		font-size: .9em;
	}
	/*.w3_banner_bottom_pos select, input.text_box {
		padding: 8px 10px;
	}*/
	.w3_agileits_section_room, .bath {
		width: 100%;
		float: none;
	}
	.agileits_w3layouts_book_section_single, .wthree_range_slider {
		margin: 1em 0;
	}
	.bath:nth-child(5), .w3_agileits_section_room:nth-child(2) {
		margin: 1em 0 0;
	}
	input#amount, .w3_banner_bottom_pos input[type="submit"] {
		font-size: 13px;
		letter-spacing: 1px;
	}
	input#room, .w3_banner_bottom_pos input[type="submit"] {
		font-size: 13px;
		letter-spacing: 1px;
	}
}

/* ----------------------------- Slider ----------------------------- */
#ui-main {
  min-height: 200px; }

.button {
  text-align: center; }

.button a {
  color: #fff;
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  margin-left: 45%;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #000; }

.button a:hover {
  background: #222; }

#fwslider {
  position: relative;
  width: 100%; }

#fwslider .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%; }

#fwslider .slide img {
  width: 100%; }

#fwslider .slidePrev {
  position: absolute;
  top: 50%;
  left: -50px;
  z-index: 10; }

#fwslider .slidePrev span {
  /*background-image: url("../images/img-sprite.png");*/
  width: 72px;
  height: 128px;
  float: left;
  background-position: -10px -243px;
  background-repeat: no-repeat;
  cursor: pointer; }

#fwslider .slideNext {
  position: absolute;
  top: 50%;
  right: -50px;
  z-index: 10; }

#fwslider .slideNext span {
  /*background-image: url("../images/img-sprite.png");*/
  width: 72px;
  height: 128px;
  float: left;
  background-position: -105px -243px;
  background-repeat: no-repeat;
  cursor: pointer; }

#fwslider .timers {
  height: 4px;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 3; }

#fwslider .timer {
  height: 4px;
  width: 40px;
  background-color: #000;
  float: left;
  margin-right: 10px; }

#fwslider .progress {
  height: 4px;
  width: 0%;
  background-color: #4cb1ca;
  float: left; }

#fwslider .slide_content {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%; }

#fwslider .slide_content_wrap {
  /* Slider Text Content Container Style */
  max-width: 600px;
  margin: 12% auto; }

#fwslider .title {
  /* Slider Title Style */
  color: #FFF;
  font-size: 5em;
  padding-top: 5%;
  font-style: normal;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 5%; }

@media only screen and (max-width: 800px) {
  #fwslider .slide_content_wrap {
    display: none; }
  #fwslider .timers {
    display: none; }
  #fwslider .slide_content {
    cursor: pointer; }
  #fwslider .title {
    margin-left: 19%;
    font-size: 3em; } }

@media (max-width: 1366px) {
  #fwslider .title {
    margin-left: 8%;
    font-size: 4em; } }
.services-w3ls-row{
  margin:2.5em 0 0 0;
}
.services{  
  text-align:center;
  background-size:cover;
} 

/* ----------------------------- property Slider ----------------------------- */

/*-- services --*/
.services{
  padding:5em 0;
}
.w3_services_grids{
  padding:1em 0 0;
}
.w3l_services_grid{
  margin:2em 0 0;
}
.agileits_services_grid{
    /*min-height: 200px;*/
    /*padding: 1em;*/
}
.w3l_services_grid:hover .w3ls_services_grid{
  opacity:.8;
}
.agileits_services_grid{
  /*background: url(../images/1.jpg) no-repeat 0px 0px;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  border-bottom:3px solid #c7040c;
}
.w3ls_services_grid{
  position:relative;
}
.agile_services_grid1_sub {
    text-align: right;
}
.agile_services_grid1_sub img {
  margin: 0px;
}
.agileinfo_services_grid_pos{
    position: absolute;
    bottom: -20%;
    left: 42%;
    width: 50px;
    height: 50px;
    background: #c7040c;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
}
.agile_services_grid_pos2,.agile_services_grid_pos3 {
    left: 46% !important;
    bottom: -8% !important;
}
.agileinfo_services_grid_pos i{
    font-size: 2em;
    color: #fff;
    line-height: 1.8em;
}
.wthree_service_text{
  text-align: center;
    padding: 0.5em 0.5em 2em;
}
.wthree_service_text h3{
  font-size:1.1em;
  color:#212121;
  text-transform:capitalize;
  letter-spacing:2px;
}
.wthree_service_text ul li {
    display: inline-block;
    color:#fb5710;
}
.wthree_service_text ul li:last-child{
  font-weight:600;
  color:#999;
}
.wthree_service_text h4{
  font-size:.9em;
  text-transform:capitalize;
  color: #615d5d;
  /*margin:.5em 0 1em;*/
}
.w3_agileits_service{
  color:#10b5fb;
}
.agileits_w3layouts_ser_sub p,.agile_services_grid_pos{
  background:#21e790;
}
/*-- //services --*/
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  color: #000;
    text-decoration: none;
    background-color: #c7040c;
    outline: 0;
}
.agile_services_grid1_sub p{
    position: absolute;
    padding: 0.2em .5em;
    display: inline-block;
}
@media only screen and (max-width: 995px) {
  .agileinfo_services_grid_pos{
    bottom: -12%;
    left: 42%;
  }
}
@media only screen and (max-width: 765px) {
  .agileinfo_services_grid_pos{
    bottom: -5%;
    left: 46%;
  }
}
@media only screen and (max-width: 460px) {
  .agileinfo_services_grid_pos{
    bottom: -10%;
    left: 42%;
  }
}
.compatibility-software-wrap {
  display: table;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0.9375em 0; }

.compatibility-software {
  position: relative; }

.compatibility-formats-wrap {
  position: absolute;
  padding: 0em 0.625em 0.25em 0.625em;
  background: #fff;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
  margin-left: 50%;
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: translate(-50%, 15%);
  transform: translate(-50%, 15%); }

.compatibility-software:hover .compatibility-formats-wrap {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.compatibility-formats-wrap:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 6px 8px;
  border-color: transparent transparent #363636 transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px; }

.compatibility-format {
  display: inline;
  font-size: 0.75em;
  color: #fff;
  margin-left: 0.375em; }

.compatibility-formats-wrap .compatibility-format:first-child {
  margin-left: 0; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #c7040c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #9a030a;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #c7040c;
  border-color: #c7040c;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

div.wrapper{
  display:block; 
  width:100%; 
  margin:0; 
  text-align:left;
}
div.wrapper h1, 
div.wrapper h2, 
div.wrapper h3, 
div.wrapper h4, 
div.wrapper h5, 
div.wrapper h6{
  margin:0 0 20px 0; 
  padding:0 0 8px 0; 
  font-size:22px; 
  font-weight:normal; 
  font-family:Georgia, "Times New Roman", Times, serif; 
  border-bottom:1px dashed #DDDDDD;
}
.col3{
  border-bottom:1px solid #3B3B3B;
}

#gallery{padding:30px 0;}
#gallery ul{display:block; width:960px; height:500px; margin:0; padding:0; list-style:none;}
#gallery li{display:block; float:left; width:184px; height:110px; margin:10px 10px 0 0; padding:0;}
#gallery li.last{margin-right:0;}
#gallery .placeholder{display:block; float:left; width:950px; height:370px; margin:0; padding:4px; border:1px solid #666666; text-indent:-9999px; background:4px 4px no-repeat;}

#gallery a.swap:link, #gallery a.swap:visited, #gallery a.swap:hover{display:block; width:174px; height:100px; margin:0; padding:4px; text-align:center; border:1px solid #666666;}
#gallery a.swap img{width:174px; height:100px;}
#gallery a.swap span img{width:950px; height:370px;}
a.swap:hover{white-space:normal;}
a.swap:link span, a.swap:visited span, a.swap:active span{visibility:hidden; position:absolute; top:35px; left:5px; width:950px; height:370px;}
a.swap:active span, a.swap:hover span, a.swap:focus span{visibility:visible;}
a.swap:active img, a.swap:focus img{position:relative; z-index:50;}