.filterMapHolder{
	float: left;
	width: 33%;
}
/*.contentSidebar{
	color: #fff;
	float: left;
	width: 300px;
	position: relative;
	top: -31px;
}
.contentSidebar .mapWrapper{
	margin: 0 -9px;
}*/
.mapWrapper{
	margin: 0 -9px;
}
.newmap{
	height: 285px; 
	/*background-image: url(../../images/map-phuket-01.png);*/
	background-image: url(../../images/map.png);
}
.newmap .newmapLocations{
	position: absolute;
	/*top: 0;
	left: 0;*/
}
.newmap .loc label{
	line-height: 18px;
    padding: 0 3px 0 0;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    background-color: rgba(255,255,255,0.75);
    color: #888;
    left: -50%;
    margin-top: -23px;
    position: relative;
    display: block;
    font-weight: bold;
}
.newmap label.PHA{
	top: 20px;
}
.newmap .loc label div{
	display: inline-block;
}
input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}
input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

@media (max-width: 999px){
	.filterMapHolder{
		float: left;
		width: 50%;
	}
	/*.contentSidebar .mapWrapper{
		margin: 0 -9px;
	}*/
	.mapWrapper{
		margin: 0 -9px;
	}
}