@import '_constant.scss';

footer{
  	background: $primary-text-dark;
  	color: $primary-text-light;
  	text-transform: uppercase;
  	padding: 10px 0px 10px 0px;
  	.container{
    	text-align: center;

    	hr{
      		width: 40%;
      		margin: 10px auto;

    	}
    	.need-help{
      		a{
        		color: #979797;
      		}
    	}
    	.need-help, .contactus{
      		font-size: 12px;
    	}
    	.social-media{
      		margin-bottom: 20px;
      		a{
        		padding: 0px 10px;

        		img{
          			width: 40px;
          			max-width: 100%;
        		}
      		}
    	}

    	@media (max-width: 767px) {
      		hr{
        		width: 100%;
      		}
    	}
  	}
}
