@import '_constant.scss';

.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
#topbar, #header, #mainav, .container{display:block; margin:0 auto;}

.row0{}
.row1{border-top:1px solid;}
.row2{border-top:1px solid;}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}
.row6, .row6 a{}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

/* Top Bar -------------------------------------------------------------------------------------------- */
#topbar{padding:20px 0; font-size:0.85em; text-transform:uppercase;}

#topbar *{margin:0; padding:0; list-style:none;}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}


/* Header ---------------------------------------------------------------------------------------------- */
#header{padding:20px 0; text-align:center;}
#header *{margin:0; padding:0;}

#header #logo{}
#header #logo #h2{font-size:30px; text-transform:uppercase;}
#header #logo p{font-size:16px;}


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute;  font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{text-align:center; line-height:normal;}
#mainav a{}
#mainav ul{font-size:0;}/* Removes inline-block element spacing - overridden later */
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-align:left;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0; padding:0; font-size:1.5rem; text-transform:uppercase;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0; text-transform:none;}
#mainav li a{display:block; padding:15px 20px; text-transform:uppercase; border:solid; border-width:0 0 0 1px;}
#mainav li:last-child a{border-width:0 1px;}
#mainav li li a{border-width:0 0 1px 0; text-transform:none;}
#mainav li li:first-child a, #mainav li li:last-child a{border-width:0 0 1px 0;}
#mainav .drop{padding-left:25px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop:after, #mainav li li .drop:after{content:"\f0d7";}
#mainav .drop:after{top:20px; left:15px;}
#mainav li li .drop:after{top:15px; left:5px;}
#mainav ul ul{display:none;}
#mainav ul li:hover > ul{display:block;}

#mainav form{display:none; margin:0; padding:20px 0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;  text-align-last:center;}
#mainav form select{width:100%; padding:5px; border:1px solid; }
#mainav form select option{margin:5px; padding:1; border:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px; }

/* Rows */
.row0, .row0 a{color:#888888; background-color:#FFFFFF;}
.row1{color:#888888; background-color:#FFFFFF; border-color:#D7D7D7;}
.row2, .row2 a{color:#888888; background-color:#FFFFFF;}
.row2{border-color:#D14334;}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#FFFFFF; background-color:#D14334;}
.row4 a{color:#D14334; background-color:#FFFFFF;}
.row5{color:#888888; background-color:#282828;}
.row6, .row6 a{color:#888888; background-color:#2F2F2F;}

/* Top Bar */
#topbar, #topbar ul li{border-color:rgba(0,0,0,.1);}
#topbar > div:last-of-type li:first-child a{color:#629BAF;}

/* Header */
#header #logo #h2 a{color:inherit; background-color:inherit;}

/* Navigation */
#mainav li a{color:#FFF; background-color:#009999; border-color:#999;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:inherit; background-color:#cbe0e2;}
//#mainav li a{color:inherit; background-color:#cbe0e2; border-color:#999;}
//#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#FFF; background-color:#009999;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#D14334;}
#mainav form select{border-color:#999;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#D14334;}

/* Media Queries ------------------------------------------------------------------------------ */
@-ms-viewport{width:device-width;}

/* Smartphone + Tablet ------------------------------------------------------------------------------ */
@media screen and (min-width:180px) and (max-width:900px) {
  #topbar, #header, #mainav, #intro, #breadcrumb, #latest, .container, #cta, #footer, #copyright{max-width:95%;}


  #topbar{}

  #mainav ul{display:none;}
  #mainav form{display:block;}
}


/* Max Wrapper Width
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
  #topbar, #header, #mainav, .container{max-width:978px;}

}
@media screen and (max-width:750px){
  .fl_left, .fl_right{display:block; float:none;}
  #header #logo #h2{font-size:20px;}

  #topbar{text-align:center;}
  #topbar > div:first-of-type > ul{margin-bottom:15px;}
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
  .scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
  .scrollable table{margin:0; padding:0; white-space:nowrap;}
  #header #logo #h2{font-size:20px;}

}
@media screen and (max-width:450px){
  #header #logo #h2{font-size:20px;}

  #topbar ul li{margin:2px; padding-right:0; border-right:none;}
}

