@import 'global/_constant.scss';
.page-container {
    min-width: 1260px;
    position: relative;
    //top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.left-content {
    float: right;
    width: 78%;
}
.page-container.sidebar-collapsed {
    transition: all 100ms linear;
    transition-delay: 300ms;
}
.page-container.sidebar-collapsed .left-content {
    float: right;
    width: 80%;
}
.page-container.sidebar-collapsed-back {
    transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
    transition: all 100ms linear;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: right;
    width: 87%;
}
.page-container.sidebar-collapsed .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}
.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 230px;
    transition: all 100ms ease-in-out;
}
.page-container.sidebar-collapsed .sidebar-icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
    margin-right: 0.8em;
    margin-top: -8px;
    color: #fff;
    background: #333;
    border-radius: 0;
}
.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}
.page-container.sidebar-collapsed .logo {
    padding: 21px 0;
    height: 63px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}
.page-container.sidebar-collapsed-back .logo {
    width: 100%;
    padding: 13px 14px;
    height: 60px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
}
.page-container.sidebar-collapsed #logo {
    opacity: 0;
    transition: all 200ms ease-in-out;
    display: none;
}
.page-container.sidebar-collapsed .down {
    display: none;
}
.page-container.sidebar-collapsed-back #logo {
    opacity: 1;
    transition: all 200ms ease-in-out;
    transition-delay: 300ms;
    ;
}
.page-container.sidebar-collapsed #menu span {
    opacity: 0;
    transition: all 50ms linear;
}
.page-container.sidebar-collapsed-back #menu span {
    opacity: 1;
    transition: all 200ms linear;
    transition-delay: 300ms;
}
.sidebar-menu {
    position: fixed;
    float: left;
    width: 230px;
    //top: 0;
    left: 0;
    //bottom: 0;
    background-color: #333;
    color: #aaabae;
    box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    z-index: 999;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
#menu li {
    position: relative;
    margin: 0;
    border-bottom: 1px ridge rgba(6, 26, 68, 0.96);
    padding: 0;
    padding: 0;
}
#menu li ul {
    opacity: 0;
    height: 0px;
}
#menu li a {
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #021F4E;
}
#menu li a:hover {
    color: #ffffff;
    background-color: #002561;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    border-left: 4px solid #00C6D7;
}
#menu li.active>a {
    background-color: #2b303a;
    color: #ffffff;
}
#menu ul li {
    background-color: #00C6D7;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -1px;
    background-color: #2b303a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s linear;
    border-top: 1px solid rgba(69, 74, 84, 0.7);
}
#menu li:hover>ul {
    visibility: visible;
    opacity: 1;
}
li#menu-mensagens, li#menu-arquivos {
    background-color: #00C6D7!important;
}
#menu li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity 0.1s linear;
}
#menu li li:hover ul {
    visibility: visible;
    opacity: 1;
}
#menu .fa {
    margin-right: 5px;
}
.logo {
    width: 100%;
    padding: 14px 14px;
    box-sizing: border-box;
}
.sidebar-icon {
    margin-top: -2px;
    border: 1px solid #fff;
    text-align: right;
    line-height: 1;
    font-size: 19px;
    padding: 8px 10px;
    border-radius: 0px;
    color: #fff;
    background: #333;
    float: right;
}
ul#menu i {
    font-size: 1.1em;
    margin-right: 6px;
    width: 10%;
}
ul#menu-academico-sub {
    z-index: 999;
}
li#menu-academico {
    z-index: 999;
}
.fa-html5 {
    color: #fff;
    margin-left: 50px;
}
.menu {
    text-align: left;
}
/*--down--*/
.down ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
span.name-caret {
    margin: 10px 0px 3px 0px;
    font-size: 1.4em;
    color: #333;
    display: block;
    text-align: center;
    font-weight: 400;
}
.down a img {
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid #333;
}
img {
    vertical-align: middle;
    //width: 70px;
}
.down {
    padding: 26px 0 30px;
    text-align: center;
    background: #fff;
}
.dropdown-menu li a i {
    font-size: 14px;
    margin-right: 6%;
    color: #879498;
}
.down p {
    font-size: 0.9em;
    color: #777;
    padding: 5px 8px;
}
.down ul {
    padding: 0;
    margin: 0;
}
.down ul li a {
    color: #fff;
    background: none;
    text-decoration: none;
}
.down i {
    font-size: 1.2em;
    color: #00C6D7;
    vertical-align: middle;
}
i.lnr.lnr-user {
    font-size: 1.07em;
}
i.lnr.lnr-power-switch {
    font-size: 1.3em;
}

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width: 65px;
    color: #FFFFFF;
    background: #09367D;
    height: 28px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    font-size: 0.8em;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #09367D;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    top: 30px;
    left: 50%;
    margin-left: -38px;
    z-index: 999;
}

@media (max-width:1600px) {
    .left-content {
        float: right;
        width: 80%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 80%;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 93%;
    }
}

@media (max-width:1440px) {
    .left-content {
        float: right;
        width: 80%;
    }
    .profile_details_left {
        float: right;
        width: 29%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 84%;
    }
}

@media (max-width:1280px) {
    .profile_details_left {
        float: right;
        width: 32%;
    }
    .left-content {
        float: right;
        width: 80%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 80%;
    }
    .stats-left h4 {
        font-size: 1.8em;
        margin-top: 14px;
    }
}

@media (max-width:1024px) {
    .profile_details_left {
        float: right;
        width: 47%;
    }
    .page-container {
        min-width: 1032px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 92%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 75%;
    }
    .left-content {
        float: right;
        width: 75%;
    }
}

@media (max-width:991px) {
    #menu li a {
        padding: 12px 20px;
        font-size: 0.85em;
    }
    .sidebar-menu {
        //position: fixed;
        float: left;
        width: 200px;
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 200px;
        transition: all 100ms ease-in-out;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 78%;
    }
    .left-content {
        float: right;
        width: 78%;
    }
    .profile_details_left {
        float: right;
        width: 71%;
    }
    .page-container {
        min-width: 991px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
}

@media (max-width:800px) {
    .page-container {
        min-width: 800px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 73%;
    }
    .left-content {
        float: right;
        width: 73%;
    }
    .error-top {
        margin: 7em auto;
        width: 61%;
        padding: 2em 2em;
        position: absolute;
        left: 21%;
        top: 13%;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 90%;
    }
}

@media (max-width:768px) {
    .page-container {
        min-width: 775px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .sidebar-menu {
        //position: fixed;
        float: left;
        width: 200px;
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 200px;
        transition: all 100ms ease-in-out;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 72%;
    }
    .left-content {
        float: right;
        width: 72%;
    }
    .profile_details_left {
        float: right;
        width: 71%;
    }
}

@media (max-width:736px) {
    .page-container {
        min-width: 736px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .sidebar-menu {
        //position: fixed;
        float: left;
        width: 180px;
    }
    span#logo h1 {
        font-size: 1.6em;
    }
    span.name-caret {
        margin: 10px 0px 0px 0px;
        font-size: 1.2em;
    }
    .down {
        padding: 20px 0 25px;
    }
    .sidebar-icon {
        margin-top: -2px;
        font-size: 19px;
        padding: 8px 9px;
    }
    .candile-inner svg {
        height: 350px!important;
        width: 436px!important;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 72%;
    }
    .left-content {
        float: right;
        width: 72%;
    }
    .page-container.sidebar-collapsed .left-content .main-search {
        float: right;
        width: 35%;
        height: 60px;
        padding: 15px 15px 69px 17px;
        position: absolute;
        top: 75px;
        left: 78px;
    }
    .sidebar-menu {
        position: absolute;
    }
}

@media (max-width:640px) {
    .page-container {
        min-width: 650px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .tabs nav ul li {
        border-bottom: none;
        margin: 0 1px;
    }
    .sidebar-menu {
        //position: fixed;
        float: left;
        width: 170px;
    }
    .sidebar-icon {
        margin-top: -6px;
        font-size: 19px;
        padding: 6px 7px;
        margin-right: 10px;
    }
    .left-content {
        float: right;
        width: 92%;
    }
    .page-container.sidebar-collapsed {
        transition: all 100ms linear;
        transition-delay: 300ms;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 71%;
    }
    .page-container.sidebar-collapsed-back {
        transition: all 100ms linear;
    }
    .page-container.sidebar-collapsed-back .left-content {
        transition: all 100ms linear;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        float: right;
        width: 71%;
    }
    .page-container.sidebar-collapsed .sidebar-menu {
        width: 180px;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 65px;
        transition: all 100ms ease-in-out;
    }
    .page-container.sidebar-collapsed .sidebar-icon {
        transition: all 300ms ease-in-out;
        margin-right: 0.1em;
        margin-top: -7px;
        color: #fff;
        background: #02BBCA;
        border-radius: 0;
        transform: rotate(0deg);
    }
    .page-container.sidebar-collapsed-back .sidebar-icon {
        transform: rotate(90deg);
        transition: all 300ms ease-in-out;
        margin-top: -2px;
        font-size: 19px;
        padding: 6px 7px;
        margin: 0px 4px;
    }
    .page-container.sidebar-collapsed .logo {
        padding: 21px 15px;
        height: 63px;
        box-sizing: border-box;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
    }
    span#logo h1 {
        font-size: 1.5em;
        margin-top: -3px;
    }
    .logo {
        padding: 21px 0;
        height: 63px;
        box-sizing: border-box;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
    }
    span#logo {
        display: none;
    }
    .page-container.sidebar-collapsed-back span#logo {
        display: block;
    }
    .down {
        display: none;
    }
    .page-container.sidebar-collapsed-back .logo {
        width: 100%;
        padding: 13px 14px;
        height: 60px;
        box-sizing: border-box;
        transition: all 100ms ease-in-out;
    }
    .page-container.sidebar-collapsed #logo {
        opacity: 0;
        transition: all 200ms ease-in-out;
        display: block;
        float: left;
    }
    .page-container.sidebar-collapsed .down {
        display: block;
    }
    .page-container.sidebar-collapsed #logo {
        opacity: 1;
        transition: all 200ms ease-in-out;
        display: block;
    }
    .page-container.sidebar-collapsed-back #logo {
        opacity: 1;
        transition: all 200ms ease-in-out;
        transition-delay: 300ms;
        display: block;
    }
    .page-container.sidebar-collapsed-back span#logo {
        opacity: 1;
        transition: all 200ms linear;
        transition-delay: 300ms;
        display: none;
    }
    .page-container.sidebar-collapsed-back #menu span {
        display: none;
    }
    .page-container.sidebar-collapsed #menu span {
        display: block;
    }
    .page-container.sidebar-collapsed #menu span {
        opacity: 1;
        transition: all 50ms linear;
        display: inline-block;
        margin-left: 10px;
    }
    #menu span {
        opacity: 0;
        transition: all 50ms linear;
        display: inline-block;
        margin-left: 10px;
    }
    span.fa.fa-angle-right, span.fa.fa-angle-double-right {
        float: right!important;
        position: absolute!important;
        right: 12px!important;
    }
    .sidebar-menu {
        width: 50px;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
    }
    .main-search {
        float: right;
        width: 35%;
        height: 60px;
        padding: 9px 10px 67px 10px;
        position: absolute;
        top: 75px;
        left: 75px;
    }
    .page-container.sidebar-collapsed.main-search {
        float: right;
        width: 35%;
        height: 60px;
        padding: 9px 10px 67px 10px;
        position: absolute;
        top: 75px;
        left: 75px;
    }
    .sidebar-menu {
        position: absolute;
    }
    .page-container.sidebar-collapsed .left-content .main-search {
        float: right;
        width: 35%;
        height: 60px;
        padding: 15px 15px 69px 17px;
        position: absolute;
        top: 75px;
        left: 198px;
    }
    .profile_details_left {
        float: right;
        width: 75%;
    }
    .widget {
        width: 48.5%;
        padding: 0px;
        float: left;
    }
    ul.dropdown li a {
        padding: 6px 11px!important;
    }
}

@media (max-width:600px) {
    .page-container {
        min-width: 600px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 70%;
    }
    .page-container.sidebar-collapsed-back {
        width: 70%;
    }
    .left-content {
        float: right;
        width: 90%;
    }
    ul.dropdown li a {
        padding: 6px 11px!important;
    }
}

@media (max-width: 568px) {
    .page-container {
        min-width: 568px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 88%;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 70%;
    }
    .logo {
        padding: 18px 0;
        height: 58px;
    }
    ul.dropdown li a {
        padding: 6px 11px!important;
    }
}

@media (max-width:480px) {
    .page-container {
        min-width: 480px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 85%;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 70%;
    }
    .page-container.sidebar-collapsed-back {
        width: 70%;
    }
    .left-content {
        float: right;
        width: 84%;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 64%;
    }
    .tabs nav ul li {
        width: 19%;
    }
}

@media (max-width:414px) {
    .page-container {
        min-width: 414px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .left-content {
        float: right;
        width: 83%;
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 88%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 84%;
    }
    .page-container.sidebar-collapsed .sidebar-menu {
        width: 180px;
        z-index: 999999999;
    }
}

@media (max-width:384px) {
    .profile_details_left {
        float: right;
        width: 65%;
    }
    .page-container {
        min-width: 384px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 83%;
    }
    .left-content {
        width: 86%;
    }
    .page-container.sidebar-collapsed-back {
        width: 86%;
    }
    ul.dropdown li a {
        padding: 6px 11px!important;
    }
}

@media (max-width:375px) {
    .profile_details_left {
        float: right;
        width: 71%;
    }
}
@media (max-width:320px) {
    .page-container {
        min-width: 320px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .left-content {
        width: 82%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 81%;
    }
    .profile_details_left {
        float: right;
        width: 76%;
    }
}
